<div class="content card">
  <div class="container">
    <div class="row">
      <div class="col-sm-12"></div>
      <div class="region region-content">
        <section id="block-system-main" class="block block-system clearfix">
          <div class="block-content">
            <div id="node-5456" class="col-sm-12 fixed-full node node-mkdoingugiangvien node-promoted clearfix">
              <div class="main-news card" *ngIf="model.image">
                <div
                  class="body-news border border-info"
                  style="box-shadow: 0px 6px 16px rgb(0 0 0 / 16%); padding: 32px 40px"
                >
                  <h2 class="block-title title mt-4">Giảng viên : {{ model.teacherName }}</h2>
                  <div class="field field-name-field-news-image field-type-image field-label-hidden">
                    <div class="field-items">
                      <div class="field-item even">
                        <img
                          class="border-radius-style"
                          typeof="foaf:Image"
                          src="http://localhost:53421/upload/files/{{ model.image }}"
                          width="175"
                          height="295"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                  <div class="field field-name-field-doingu-chucvu field-type-text-long field-label-inline clearfix">
                    <div class="field-label">Môn giảng dạy:&nbsp;</div>
                    <div class="field-items">
                      <div class="field-item even">
                        <p>{{ model.regular }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="field field-name-field-doingu-bangcap field-type-text-long field-label-inline clearfix">
                    <div class="field-label">Bằng cấp:&nbsp;</div>
                    <div class="field-items">
                      <div class="field-item even">
                        <ul>
                          <li>
                            <span style="font-size: 13.008px; line-height: 150%">Cử nhân Công nghệ thông tin</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div
                    class="field field-name-field-doingu-kinhnghiem field-type-text-long field-label-inline clearfix"
                  >
                    <div class="field-label">Kinh nghiệm giảng dạy:&nbsp;</div>
                    <div class="field-items">
                      <div class="field-item even">
                        <p [innerHTML]="model.description"></p>
                      </div>
                    </div>
                  </div>
                  <div class="field field-name-field-speak field-type-text-long field-label-inline clearfix">
                    <div class="field-label">Câu nói:&nbsp;</div>
                    <div class="field-items">
                      <div class="field-item even">{{ model.say }}</div>
                    </div>
                  </div>
                </div>
                <div class="facebook-plugins clearfix mt-7">
                  <div class="content mt-8">
                    <span class="label">Bạn thích bài này</span>
                    <span class="like-fb">
                      <div
                        class="fb-like fb_iframe_widget"
                        data-href=""
                        data-layout="button_count"
                        data-action="like"
                        data-size="small"
                        data-show-faces="false"
                        data-share="true"
                        fb-xfbml-state="rendered"
                      ></div>
                    </span>
                    <span class="comments-fb"
                      ><button pButton style="font-size: 15px">Cộng đồng nói gì về MB ageas</button></span
                    >
                  </div>
                </div>
              </div>
            
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
