<div class="card">
  <div class="grid p-fluid">
    <div class="col-3">
      <span class="p-float-label">
        <p-dropdown
          [options]="listProcess"
          [(ngModel)]="processKey"
          optionLabel="name"
          optionValue="key"
          [autoDisplayFirst]="false"
          (onChange)="onChangeWorkflow($event)"
        ></p-dropdown>
        <label for="inputtext">Chọn Quy trình</label>
      </span>
    </div>
  </div>
</div>

<div class="card" *ngIf="processKey">
  <h6>Cấu hình Field quy trình</h6>
  <p-table #dt [value]="fields.controls" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 30%">Key</th>
        <th style="width: 30%">Label</th>
        <th style="width: 30%">Loại Field</th>
        <th style="width: 100px" alignFrozen="right" pFrozenColumn>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
      <tr [formGroup]="item">
        <td style="width: 20%">
          <div class="row-field">
            <input type="text" pInputText formControlName="name" class="p-inputtext-sm" />
            <f-errors class="text-error" [control]="item.get('name')"></f-errors>
          </div>
        </td>
        <td style="width: 20%">
          <div class="row-field">
            <input type="text" pInputText formControlName="label" class="p-inputtext-sm" />
            <f-errors class="text-error" [control]="item.get('label')"></f-errors>
          </div>
        </td>
        <td style="width: 20%">
          <p-dropdown
            class="p-inputtext-sm"
            [options]="listType"
            formControlName="type"
            optionLabel="name"
            optionValue="code"
            appendTo="body"
            [baseZIndex]="10000"
            [autoZIndex]="false"
            [autoDisplayFirst]="false"
          ></p-dropdown>
        </td>
        <td style="width: 100px" alignFrozen="right" pFrozenColumn>
          <button
            pButton
            pRipple
            type="button"
            icon="las la-trash-alt"
            class="p-button-outlined p-button-danger btn-row-action"
            (click)="deleteItem(rowIndex)"
            *ngIf="rowIndex + 1 !== fields.length"
          ></button>
          <button
            pButton
            pRipple
            type="button"
            icon="las la-plus-circle"
            class="p-button-outlined btn-row-action"
            (click)="addItem(item)"
            *ngIf="rowIndex + 1 === fields.length"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div class="grid p-nogutter p-jc-between p-mt-5">
    <button pButton label="Lưu" (click)="save()"></button>
  </div>
</div>
