<section class="w3l-service-breadcrum">
  <div class="breadcrum-bg py-sm-5 py-4">
    <div class="container py-lg-3">
      <h2>Khóa học tại MB ageas IT</h2>
      <p><a>Home</a> &nbsp; / &nbsp; Khóa học</p>
    </div>
  </div>
</section>
<section class="w3l-features-8">
  <!-- /features -->
  <div class="features py-5" id="services">
    <div class="container py-md-3">
      <div class="fea-gd-vv text-center row">
        <ng-container *ngFor="let item of stateData">
          <div class="float-top col-lg-4 col-md-6 mt-5">
            <a routerLink="/mb-ageas/course/description/{{ item.courseId }}"
              ><img src="http://localhost:53421/upload/files/{{ item.image }}" class="img-responsive"
            /></a>
            <div class="float-lt feature-gd">
              <h3>
                <a routerLink="/mb-ageas/course/description/{{ item.courseId }}">{{ item.courseName }}</a>
              </h3>
              <p>Danh mục : {{ item.courseCategoryName }}</p>
            </div>
            <div class="mt-5"></div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <!-- //features -->
</section>
