<div class="p-dialog-header px-0">
  <span class="p-dialog-title">{{ title }}</span>
  <div class="p-dialog-header-icons">
    <button type="button" class="p-dialog-header-icon p-dialog-header-maximize p-link" (click)="cancel()">
      <span class="p-dialog-header-close-icon pi pi-times"></span>
    </button>
  </div>
</div>
<div class="grid p-fluid p-dialog-body mt-2">
  <div class="col-6" [formGroup]="form">
    <div class="p-float-label">
      <input type="text" pInputText formControlName="code" />
      <label for="inputtext">Mã code<span style="color: red">*</span></label>
    </div>
    <f-errors [control]="form.get('code')"></f-errors>
  </div>

  <div class="col-6" [formGroup]="form">
    <div class="p-float-label">
      <input type="text" pInputText formControlName="name" />
      <label for="inputtext">Tên danh mục<span style="color: red">*</span></label>
    </div>
    <f-errors [control]="form.get('name')"></f-errors>
  </div>
  <div class="col-12" [formGroup]="form">
    <div class="p-field">
      <div class="p-float-label">
        <textarea id="float-input" rows="2" formControlName="description" pInputTextarea></textarea>
        <label for="float-input">Mô tả<span style="color: red">*</span></label>
      </div>
      <f-errors [control]="form.get('description')"></f-errors>
    </div>
  </div>
  <div class="col-12">
    <p-table #dt [value]="formListChildren.controls" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 20%">Mã</th>
          <th style="width: 20%">Tên</th>
          <th style="width: 20%">Giá trị</th>
          <th style="width: 20%">Thứ tự</th>
          <th style="width: 100px">Mặc định</th>
          <th *ngIf="screenType !== 2" style="width: 100px" alignFrozen="right" pFrozenColumn>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-index>
        <tr [formGroup]="item">
          <td style="width: 20%">
            <input type="text" pInputText formControlName="code" />
            <f-errors [control]="item.get('code')"></f-errors>
          </td>
          <td style="width: 20%">
            <input type="text" pInputText formControlName="name" />
            <f-errors [control]="item.get('name')"></f-errors>
          </td>
          <td style="width: 20%">
            <input type="text" pInputText formControlName="value" />
            <f-errors [control]="item.get('value')"></f-errors>
          </td>
          <td style="width: 20%">
            <p-inputNumber formControlName="orderNum" mode="decimal"> </p-inputNumber>
          </td>
          <td style="width: 100px">
            <p-checkbox formControlName="isDefault" [binary]="true"></p-checkbox>
          </td>
          <td *ngIf="screenType !== 2" style="width: 100px" alignFrozen="right" pFrozenColumn>
            <span class="pointer" (click)="deleteItem(item)">
              <em class="las la-trash-alt"></em>
            </span>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <br />
    <div *ngIf="screenType !== 2" class="mt-2">
      <button (click)="addNewFormChildren()" pButton icon="pi pi-plus" class="p-mr-2"></button>
    </div>
  </div>
</div>
<div class="p-dialog-footer p-0 mt-3">
  <button pButton *ngIf="screenType !== 2" (click)="save()" label="Lưu" icon="pi pi-check" class="p-mr-2"></button>
  <button pButton (click)="cancel()" label="Đóng" icon="pi pi-times" class="p-button-danger"></button>
</div>
