<div class="region region-highlighted">
  <section id="block-custom-about-us" class="block block-custom node_about_us clearfix">
    <div class="container">
      <h4 class="title">{{ model?.title }}</h4>
      <div class="block-content">
        <div class="row content-about-us">
          <div class="col-sm-12">
            <h4>Các chuyên ngành đào tạo chính:</h4>
            <ul>
              <li>Lập trình viên Quốc tế (MB Ageas Certified Computer Professional)</li>
              <li>Kỹ thuật viên phần mềm ITT (Information Technology Technican)</li>
              <li>Chuyên gia Hệ thống Thông tin &nbsp;ACNA (MB Ageas Certified Network Administrator)</li>
            </ul>
            <p class="mt-3">
              MB Ageas là Tập đoàn có quy mô toàn cầu, đi tiên phong trong lĩnh vực đào tạo Công nghệ Thông tin (CNTT).
              Chúng tôi đã có hơn 34 năm kinh nghiệm triển khai chương trình đào tạo Lập trình viên Quốc tế tại hơn 40
              Quốc gia với 1.350 cơ sở đào tạo và 6,8 triệu sinh viên.
            </p>
            <p style="color: #141ed2 !important; font-size: 15px; font-weight: 700">{{ model?.detail }}</p>
            <p-image
              class="ml-8"
              src="http://localhost:53421/Upload/Files/{{ model?.image }}"
              alt="Image"
              width="700"
            ></p-image>
            <h4>Thông tin chi tiết:</h4>
            <p [innerHTML]="model?.description"></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="block-views-slideshow-block-1" class="block block-views block_uu_diem clearfix">
    <div class="container">
      <h2 class="block-title">6.8 triệu học viên trên Thế giới đã chọn MB Ageas, Vì sao?</h2>
      <h3></h3>
      <div class="row">
        <div
          class="view view-slideshow view-id-slideshow view-display-id-block_1 view-dom-id-321525e04effb5d60d2bcfd3fbe797d8"
        >
          <div class="view-content">
            <div class="owl-carousel-block_18 owl-carousel owl-theme" style="opacity: 1; display: block">
              <div class="owl-wrapper-outer">
                <div
                  class="owl-wrapper"
                  style="
                    width: 1758px;
                    left: 0px;
                    display: block;
                    transition: all 1000ms ease 0s;
                    transform: translate3d(0px, 0px, 0px);
                  "
                >
                  <div class="owl-item" style="width: 293px">
                    <div class="item-0 item-odd">
                      <div class="views-field views-field-field-slider-images">
                        <div class="field-content">
                          <img
                            typeof="foaf:Image"
                            src="https://aptechvietnam.com.vn/sites/default/files/styles/265_175/public/chuong_trinh_hoc_chu_trong_thuc_hanh.jpg?itok=jjDaHJ0Y"
                            width="265"
                            height="175"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="views-field views-field-nothing">
                        <span class="field-content">
                          <div class="uu_diem_row">
                            <div class="title">Chương trình học</div>
                            <div class="row_2">Chú trọng thực hành</div>
                            <div class="body_caunoi">
                              <p style="text-align: justify">
                                Với chương trình học chú trọng thực hành, sinh viên MB Ageas luôn được tạo điều kiện để
                                thực hiện các dự án thực tế một cách thành thạo, chuyên nghiệp nhất.
                              </p>
                            </div>
                          </div>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item" style="width: 293px">
                    <div class="item-1 item-even">
                      <div class="views-field views-field-field-slider-images">
                        <div class="field-content">
                          <img
                            typeof="foaf:Image"
                            src="https://aptechvietnam.com.vn/sites/default/files/styles/265_175/public/doi_ngu_giang_vien_than_thien_nhiet_tinh.jpg?itok=NP-hk2Ku"
                            width="265"
                            height="175"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="views-field views-field-nothing">
                        <span class="field-content">
                          <div class="uu_diem_row">
                            <div class="title">Đội ngũ giảng viên</div>
                            <div class="row_2">Thân thiện, nhiệt tình</div>
                            <div class="body_caunoi">
                              <p style="text-align: justify">
                                Giảng viên là những Chuyên gia hàng đầu Việt Nam và luôn đồng hành cùng sinh viên MB
                                Ageas trong quá trình học tập và phát triển.
                              </p>
                            </div>
                          </div>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item" style="width: 293px">
                    <div class="item-2 item-odd">
                      <div class="views-field views-field-field-slider-images">
                        <div class="field-content">
                          <img
                            typeof="foaf:Image"
                            src="https://aptechvietnam.com.vn/sites/default/files/styles/265_175/public/co-so-vat-chat-theo-chuan-quoc-te.jpg?itok=pwqtFqW5"
                            width="265"
                            height="175"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="views-field views-field-nothing">
                        <span class="field-content">
                          <div class="uu_diem_row">
                            <div class="title">Cơ sở vật chất</div>
                            <div class="row_2">theo chuẩn Quốc tế</div>
                            <div class="body_caunoi">
                              <p style="text-align: justify">
                                Với tiêu chuẩn đào tạo quốc tế, MB Ageas luôn đảm bảo cho học viên không gian học tập,
                                nghiêm cứu sáng tạo và hiện đại nhất.
                              </p>
                            </div>
                          </div>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="owl-controls clickable" style="display: none">
                <div class="owl-pagination">
                  <div class="owl-page active"><span class=""></span></div>
                </div>
                <div class="owl-buttons">
                  <div class="owl-prev">prev</div>
                  <div class="owl-next">next</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="block-views-slideshow-block-2" class="block block-views chuyen_gia clearfix">
    <div class="container">
      <h2 class="block-title">
        <a href="/doi-ngu-giang-vien" class="block-title-link">Đội ngũ Giảng viên là những Chuyên gia CNTT hàng đầu</a>
      </h2>
      <div class="row">
        <div
          class="view view-slideshow view-id-slideshow view-display-id-block_2 view-dom-id-32a0aa9f0d9d84c3377d76e4b159a6b4"
        >
          <div class="view-content">
            <div class="owl-carousel-block_28 owl-carousel owl-theme" style="opacity: 1; display: block">
              <div class="owl-wrapper-outer autoHeight" style="height: 462px">
                <div
                  class="owl-wrapper"
                  style="
                    width: 6880px;
                    left: 0px;
                    display: block;
                    transition: all 800ms ease 0s;
                    transform: translate3d(-430px, 0px, 0px);
                  "
                >
                  <div class="owl-item" style="width: 430px">
                    <div class="item-0 item-odd">
                      <div class="views-field views-field-title">
                        <span class="field-content"
                          ><a
                            href="/Giang-vien-Le-Thanh-Son"
                            class="colorbox-node init-colorbox-node-processed-processed"
                            data-inner-width="800"
                            data-inner-height="600"
                            >Giảng viên Lê Thanh Sơn</a
                          ></span
                        >
                      </div>
                      <div class="views-field views-field-field-speak">
                        <div class="field-content">
                          "Đam mê, chịu khó là yếu tố quyết định đến thành công của bạn, không gì là không thể phát
                          triển trong ngành lập trình nếu bạn không ngừng cố gắng"
                        </div>
                      </div>
                      <div class="views-field views-field-field-news-image">
                        <div class="field-content">
                          <a
                            href="https://aptechvietnam.com.vn/Giang-vien-Le-Thanh-Son?width=800&amp;height=600"
                            class="colorbox-node init-colorbox-node-processed-processed"
                            ><img
                              typeof="foaf:Image"
                              src="https://aptechvietnam.com.vn/sites/default/files/styles/style__175_295_/public/img_1777.png?itok=wFpk9053"
                              width="175"
                              height="295"
                              alt=""
                              class="lazyOwl"
                              style="display: inline"
                          /></a>
                        </div>
                      </div>
                      <div class="views-field views-field-field-doingu-chucvu">
                        <span class="views-label views-label-field-doingu-chucvu">Chuyên môn: </span>
                        <div class="field-content">PHP.JAVA .NET SQL,&nbsp; Python, MongoDB, Android</div>
                      </div>
                      <div class="views-field views-field-field-doingu-bangcap">
                        <div class="field-content">
                          <p>Thạc sĩ Học Viện Công Nghệ Mátxcova</p>
                          <p>Trainer Microsoft năm 2013</p>
                          <p>Chuyên viên phát triển phần mềm Microsoft</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item" style="width: 430px">
                    <div class="item-1 item-even">
                      <div class="views-field views-field-title">
                        <span class="field-content"
                          ><a
                            href="/Merjay-Soliva-Guieb"
                            class="colorbox-node init-colorbox-node-processed-processed"
                            data-inner-width="800"
                            data-inner-height="600"
                            >Merjay Soliva Guieb</a
                          ></span
                        >
                      </div>
                      <div class="views-field views-field-field-speak">
                        <div class="field-content">"The Limits of Your Language are the Limits of Your World"</div>
                      </div>
                      <div class="views-field views-field-field-news-image">
                        <div class="field-content">
                          <a
                            href="https://aptechvietnam.com.vn/Merjay-Soliva-Guieb?width=800&amp;height=600"
                            class="colorbox-node init-colorbox-node-processed-processed"
                            ><img
                              typeof="foaf:Image"
                              src="https://aptechvietnam.com.vn/sites/default/files/styles/style__175_295_/public/2_10.png?itok=vcUJ02UD"
                              width="175"
                              height="295"
                              alt=""
                              class="lazyOwl"
                              style="display: inline"
                          /></a>
                        </div>
                      </div>
                      <div class="views-field views-field-field-doingu-chucvu">
                        <span class="views-label views-label-field-doingu-chucvu">Chuyên môn: </span>
                        <div class="field-content">Tiếng Anh</div>
                      </div>
                      <div class="views-field views-field-field-doingu-bangcap">
                        <div class="field-content">
                          <p>
                            <strong>Benguet State University,</strong> La Trinidad, Benguet<br />Special Professional
                            Education&nbsp;
                          </p>
                          <p>
                            <strong>Isabela State University,</strong> Echague, Isabela<br />Bachelor of Arts Major in
                            English with 15 units of<br />Professional Education&nbsp;
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item" style="width: 430px">
                    <div class="item-2 item-odd">
                      <div class="views-field views-field-title">
                        <span class="field-content"
                          ><a
                            href="/Giang-vien-TRUONG-NGOC-KHAC-NGUYEN"
                            class="colorbox-node init-colorbox-node-processed-processed"
                            data-inner-width="800"
                            data-inner-height="600"
                            >Giảng viên Trương Ngọc Khắc Nguyên</a
                          ></span
                        >
                      </div>
                      <div class="views-field views-field-field-speak">
                        <div class="field-content">
                          Học lập trình không có giỏi hay dở, mà chỉ có đúng hay sai. Và không có một chương trình nào
                          là hoàn hảo trong mắt mọi người, nên cứ sai đi rồi học cách làm tốt hơn.
                        </div>
                      </div>
                      <div class="views-field views-field-field-news-image">
                        <div class="field-content">
                          <a
                            href="https://aptechvietnam.com.vn/Giang-vien-TRUONG-NGOC-KHAC-NGUYEN?width=800&amp;height=600"
                            class="colorbox-node init-colorbox-node-processed-processed"
                            ><img
                              typeof="foaf:Image"
                              src="https://aptechvietnam.com.vn/sites/default/files/styles/style__175_295_/public/img_1769.png?itok=q3jbZDak"
                              width="175"
                              height="295"
                              alt=""
                              class="lazyOwl"
                              style="display: inline"
                          /></a>
                        </div>
                      </div>
                      <div class="views-field views-field-field-doingu-chucvu">
                        <span class="views-label views-label-field-doingu-chucvu">Chuyên môn: </span>
                        <div class="field-content">
                          ASP.NET, Windows Form, WCF, MVC, MVP, HTML &amp; CSS, LINQ, Cloud Computing,…&nbsp;
                        </div>
                      </div>
                      <div class="views-field views-field-field-doingu-bangcap">
                        <div class="field-content">
                          <p>Cử nhân CNTT</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item" style="width: 430px">
                    <div class="item-3 item-even">
                      <div class="views-field views-field-title">
                        <span class="field-content"
                          ><a
                            href="/Giang-vien-Bui-The-Son"
                            class="colorbox-node init-colorbox-node-processed-processed"
                            data-inner-width="800"
                            data-inner-height="600"
                            >Giảng viên Bùi Thế Sơn</a
                          ></span
                        >
                      </div>
                      <div class="views-field views-field-field-speak">
                        <div class="field-content">
                          Giảng viên là người chia sẻ kiến thức cho học viên và cũng được học từ chính học viên của mình
                        </div>
                      </div>
                      <div class="views-field views-field-field-news-image">
                        <div class="field-content">
                          <a
                            href="https://aptechvietnam.com.vn/Giang-vien-Bui-The-Son?width=800&amp;height=600"
                            class="colorbox-node init-colorbox-node-processed-processed"
                            ><img
                              typeof="foaf:Image"
                              src="https://aptechvietnam.com.vn/sites/default/files/styles/style__175_295_/public/sonok.jpg?itok=yHAEqYGW"
                              width="175"
                              height="295"
                              alt=""
                              class="lazyOwl"
                              style="display: inline"
                          /></a>
                        </div>
                      </div>
                      <div class="views-field views-field-field-doingu-chucvu">
                        <span class="views-label views-label-field-doingu-chucvu">Chuyên môn: </span>
                        <div class="field-content">iOS (Objective C, Swift)</div>
                      </div>
                      <div class="views-field views-field-field-doingu-bangcap">
                        <div class="field-content">
                          <ul>
                            <li>
                              <span style="font-size: 13.008px; line-height: 150%; text-indent: 0in"
                                >Cử nhân Công nghệ thông tin, trường Đại học Thuỷ Lợi</span
                              >
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item" style="width: 430px">
                    <div class="item-4 item-odd">
                      <div class="views-field views-field-title">
                        <span class="field-content"
                          ><a
                            href="/Thac-si-Tran-Thi-Ha-Trang"
                            class="colorbox-node init-colorbox-node-processed-processed"
                            data-inner-width="800"
                            data-inner-height="600"
                            >Thạc sĩ Trần Thị Hà Trang</a
                          ></span
                        >
                      </div>
                      <div class="views-field views-field-field-speak">
                        <div class="field-content">
                          Tin vào khả năng tiềm ẩn của học trò và nỗ lực hết sức để giúp học trò thể hiện được sức mạnh
                          đó
                        </div>
                      </div>
                      <div class="views-field views-field-field-news-image">
                        <div class="field-content">
                          <a
                            href="https://aptechvietnam.com.vn/Thac-si-Tran-Thi-Ha-Trang?width=800&amp;height=600"
                            class="colorbox-node init-colorbox-node-processed-processed"
                            ><img
                              typeof="foaf:Image"
                              src="https://aptechvietnam.com.vn/sites/default/files/styles/style__175_295_/public/trangok.png?itok=KqNzcgYm"
                              width="175"
                              height="295"
                              alt=""
                              class="lazyOwl"
                              style="display: inline"
                          /></a>
                        </div>
                      </div>
                      <div class="views-field views-field-field-doingu-chucvu">
                        <span class="views-label views-label-field-doingu-chucvu">Chuyên môn: </span>
                        <div class="field-content">Java, Android, IOS</div>
                      </div>
                      <div class="views-field views-field-field-doingu-bangcap">
                        <div class="field-content">
                          <ul>
                            <li>Thạc sĩ khoa học về kỹ thuật viễn thông - Aston University</li>
                            <li>Thạc sĩ khoa học xã hội và ngôn ngữ - Aston University, United Kingdom</li>
                            <li>Kỹ sư phần mềm - Đại học quốc gia Tp.HCM</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item" style="width: 430px">
                    <div class="item-5 item-even">
                      <div class="views-field views-field-title">
                        <span class="field-content"
                          ><a
                            href="/Dao-Manh-Thang"
                            class="colorbox-node init-colorbox-node-processed-processed"
                            data-inner-width="800"
                            data-inner-height="600"
                            >Giảng viên Đào Mạnh Thắng</a
                          ></span
                        >
                      </div>
                      <div class="views-field views-field-field-speak">
                        <div class="field-content">Điều tâm đắc nhất trong cuộc đời tôi là sự tiến bộ của học trò.</div>
                      </div>
                      <div class="views-field views-field-field-news-image">
                        <div class="field-content">
                          <a
                            href="https://aptechvietnam.com.vn/Dao-Manh-Thang?width=800&amp;height=600"
                            class="colorbox-node init-colorbox-node-processed-processed"
                            ><img
                              typeof="foaf:Image"
                              src="https://aptechvietnam.com.vn/sites/default/files/styles/style__175_295_/public/dao_manh_thang_-_update.jpg?itok=Dnrcr1nJ"
                              width="175"
                              height="295"
                              alt=""
                              class="lazyOwl"
                              style="display: inline"
                          /></a>
                        </div>
                      </div>
                      <div class="views-field views-field-field-doingu-chucvu">
                        <span class="views-label views-label-field-doingu-chucvu">Chuyên môn: </span>
                        <div class="field-content">.NET, Hybrid mobile (phonegap)</div>
                      </div>
                      <div class="views-field views-field-field-doingu-bangcap">
                        <div class="field-content">
                          <p>Higher Diploma in Computer Science, Genetic Computer School</p>
                          <p>
                            <span style="font-size: 13.008px; line-height: 1.538em"
                              >Bachelor in English, Hanoi University</span
                            >
                          </p>
                          <p>Chứng chỉ quản trị Linux, Windows - Genetic</p>
                          <p>Chứng chỉ mạng AMP ACT 1, TE-Connectivity</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item" style="width: 430px">
                    <div class="item-6 item-odd">
                      <div class="views-field views-field-title">
                        <span class="field-content"
                          ><a
                            href="/content/%C4%91%E1%BA%B7ng-qu%E1%BB%B3nh-nga"
                            class="colorbox-node init-colorbox-node-processed-processed"
                            data-inner-width="800"
                            data-inner-height="600"
                            >Thạc sĩ Đặng Quỳnh Nga</a
                          ></span
                        >
                      </div>
                      <div class="views-field views-field-field-speak">
                        <div class="field-content">Đừng xấu hổ khi không biết, chỉ xấu hổ khi không học.</div>
                      </div>
                      <div class="views-field views-field-field-news-image">
                        <div class="field-content">
                          <a
                            href="https://aptechvietnam.com.vn/content/%C4%91%E1%BA%B7ng-qu%E1%BB%B3nh-nga?width=800&amp;height=600"
                            class="colorbox-node init-colorbox-node-processed-processed"
                            ><img
                              typeof="foaf:Image"
                              src="https://aptechvietnam.com.vn/sites/default/files/styles/style__175_295_/public/ngaok_0.png?itok=coaDp8b3"
                              width="175"
                              height="295"
                              alt=""
                              class="lazyOwl"
                              style="display: inline"
                          /></a>
                        </div>
                      </div>
                      <div class="views-field views-field-field-doingu-chucvu">
                        <span class="views-label views-label-field-doingu-chucvu">Chuyên môn: </span>
                        <div class="field-content">Php, Java, Photoshop, Illustrator</div>
                      </div>
                      <div class="views-field views-field-field-doingu-bangcap">
                        <div class="field-content">
                          <ul>
                            <li>
                              <span style="font-size: 13.008px; line-height: 1.538em">Cử nhân Toán Cơ Tin, ĐHKHTN</span>
                            </li>
                            <li>
                              <span style="font-size: 13.008px; line-height: 1.538em">Thạc sĩ CNTT, ĐH QGHN</span>
                            </li>
                            <li>
                              <span style="font-size: 13.008px; line-height: 1.538em"
                                >Cử nhân Tiếng Anh, ĐH Hà Nội</span
                              >
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item" style="width: 430px">
                    <div class="item-7 item-even">
                      <div class="views-field views-field-title">
                        <span class="field-content"
                          ><a
                            href="/giang-vien/vu-anh-tu"
                            class="colorbox-node init-colorbox-node-processed-processed"
                            data-inner-width="800"
                            data-inner-height="600"
                            >Thạc sĩ Vũ Anh Tú</a
                          ></span
                        >
                      </div>
                      <div class="views-field views-field-field-speak">
                        <div class="field-content">
                          Người Giảng viên giỏi là người đem đến cho sinh viên niềm đam mê với lập trình
                        </div>
                      </div>
                      <div class="views-field views-field-field-news-image">
                        <div class="field-content">
                          <a
                            href="https://aptechvietnam.com.vn/giang-vien/vu-anh-tu?width=800&amp;height=600"
                            class="colorbox-node init-colorbox-node-processed-processed"
                            ><img
                              typeof="foaf:Image"
                              src="https://aptechvietnam.com.vn/sites/default/files/styles/style__175_295_/public/tuok.png?itok=Pzvnxt2A"
                              width="175"
                              height="295"
                              alt=""
                              class="lazyOwl"
                              style="display: inline"
                          /></a>
                        </div>
                      </div>
                      <div class="views-field views-field-field-doingu-chucvu">
                        <span class="views-label views-label-field-doingu-chucvu">Chuyên môn: </span>
                        <div class="field-content">
                          .Net,&nbsp;SQL,&nbsp;PHP &amp; mySQL,&nbsp;Quản trị dự án Agile,&nbsp;Khai phá dữ liệu
                          (Datamining)&nbsp;
                        </div>
                      </div>
                      <div class="views-field views-field-field-doingu-bangcap">
                        <div class="field-content">
                          <ul>
                            <li><span style="font-size: 13.008px; line-height: 1.538em">Thạc sỹ CNTT (Ấn độ)</span></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="block-block-11" class="block block-block button clearfix">
    <div class="container">
      <h2 class="block-title">Bạn có muốn học cùng chuyên gia CNTT hàng đầu?</h2>
      <div class="row">
        <div class="col-sm-12"><a href="#block-webform-client-block-5352" class="button_i_want">Tôi muốn</a></div>
      </div>
    </div>
  </section>
  <section id="block-views-slideshow-block-3" class="block block-views tron_niem_tin clearfix">
    <div class="container">
      <h2 class="block-title">Xã hội Công nhận</h2>
      <h3>CÁC GIẢI THƯỞNG CỦA HỆ THỐNG ĐÀO TẠO LẬP TRÌNH VIÊN QUỐC TẾ MB Ageas</h3>
      <div class="row giai_thuong">
        <div class="col-sm-3">
          <div class="image_loi_ich">
            <img src="./assets/pages/sites/all/themes/aptech_news_2/images/badge-1.png" />
          </div>
          <div class="title">
            <span>Cúp Trường đào tạo CNTT Số 1 Việt Nam </span><br />
            do Bộ Thông tin và Truyền thông trao
          </div>
        </div>

        <div class="col-sm-3">
          <div class="image_loi_ich">
            <img src="./assets/pages/sites/all/themes/aptech_news_2/images/badge-2.png" />
          </div>
          <div class="title">
            <span>Cúp Đơn vị Đào tạo CNTT Xuất sắc Nhất Việt Nam</span><br />
            trong 14 năm liên tiếp (1999-2020) do Hội Tin học TP. HCM trao
          </div>
        </div>

        <div class="col-sm-3">
          <div class="image_loi_ich">
            <img src="./assets/pages/sites/all/themes/aptech_news_2/images/badge-3.png" />
          </div>
          <div class="title">
            <span>Cúp Đơn vị Đào tạo Nhân lực CNTT Số 1 Việt Nam</span><br />
            do Hiệp hội phần mềm Việt Nam trao
          </div>
        </div>

        <div class="col-sm-3">
          <div class="image_loi_ich">
            <img src="./assets/pages/sites/all/themes/aptech_news_2/images/badge-4.png" />
          </div>
          <div class="title">
            <span>Cúp Tinh hoa Việt Nam</span><br />
            do Hiệp hội Doanh nghiệp Việt Nam trao
          </div>
        </div>
      </div>
      <div class="row">
        <div
          class="view view-slideshow view-id-slideshow view-display-id-block_3 view-dom-id-9a1a3c0f0a20c864dd8d8f26fa292fa0"
        >
          <div class="view-content">
            <div class="owl-carousel-block_38 owl-carousel owl-theme" style="opacity: 1; display: block">
              <div class="owl-wrapper-outer autoHeight" style="height: 180px">
                <div
                  class="owl-wrapper"
                  style="
                    width: 6160px;
                    left: 0px;
                    display: block;
                    transition: all 800ms ease 0s;
                    transform: translate3d(-440px, 0px, 0px);
                  "
                >
                  <div class="owl-item" style="width: 440px">
                    <div class="item-0 item-odd">
                      <div class="views-field views-field-field-news-image">
                        <div class="field-content">
                          <img
                            typeof="foaf:Image"
                            src="https://aptechvietnam.com.vn/sites/default/files/styles/avata_90_90/public/usol.jpg?itok=kpIHuP_m"
                            width="90"
                            height="90"
                            alt="Ông Hiroshi Watabe "
                            title="Ông Hiroshi Watabe "
                            class="lazyOwl"
                            style="display: inline"
                          />
                        </div>
                      </div>
                      <div class="views-field views-field-nothing">
                        <span class="field-content">
                          <div class="testimonial_content">
                            <div class="body">
                              Usol Việt Nam đã tiếp nhận sinh viên MB Ageas vào làm việc từ nhiều năm nay. Chúng tôi đều
                              hài lòng về họ.
                            </div>
                            <div class="author">
                              <span class="name">Ông Hiroshi Watabe </span> - TGĐ Công ty TNHH Usol Việt Nam
                            </div>
                          </div>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item" style="width: 440px">
                    <div class="item-1 item-even">
                      <div class="views-field views-field-field-news-image">
                        <div class="field-content">
                          <img
                            typeof="foaf:Image"
                            src="https://aptechvietnam.com.vn/sites/default/files/styles/avata_90_90/public/ifi.jpg?itok=-ul-g41_"
                            width="90"
                            height="90"
                            alt="Ông Hoàng Hải - GĐ Tổng hợp Công ty Cổ CP Giải pháp Tin học IFI Solution"
                            title="Ông Hoàng Hải - GĐ Tổng hợp Công ty Cổ CP Giải pháp Tin học IFI Solution"
                            class="lazyOwl"
                            style="display: inline"
                          />
                        </div>
                      </div>
                      <div class="views-field views-field-nothing">
                        <span class="field-content">
                          <div class="testimonial_content">
                            <div class="body">
                              Chúng tôi tuyển dụng sinh viên MB Ageas vì khả năng làm việc thực tế và kỹ năng thích ứng
                              môi trường làm việc của họ rất tốt.
                            </div>
                            <div class="author">
                              <span class="name">Ông Hoàng Hải </span> - GĐ Tổng hợp Công ty CP Giải pháp Tin học IFI
                              Solution
                            </div>
                          </div>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item" style="width: 440px">
                    <div class="item-2 item-odd">
                      <div class="views-field views-field-field-news-image">
                        <div class="field-content">
                          <img
                            typeof="foaf:Image"
                            src="https://aptechvietnam.com.vn/sites/default/files/styles/avata_90_90/public/hosontung.jpg?itok=mTyc3TB0"
                            width="90"
                            height="90"
                            alt="Ông Hồ Sơn Tùng "
                            title="Ông Hồ Sơn Tùng "
                            class="lazyOwl"
                            style="display: inline"
                          />
                        </div>
                      </div>
                      <div class="views-field views-field-nothing">
                        <span class="field-content">
                          <div class="testimonial_content">
                            <div class="body">
                              Điểm mạnh của các bạn MB Ageas là thời gian thực hành nhiều nên bắt nhịp với công việc
                              nhanh. Đây là lợi thế ban đầu trong ứng tuyển.&nbsp;
                            </div>
                            <div class="author">
                              <span class="name">Ông Hồ Sơn Tùng </span> - PGĐ Công ty cổ phần truyền thông Lạc Hồng
                            </div>
                          </div>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item" style="width: 440px">
                    <div class="item-3 item-even">
                      <div class="views-field views-field-field-news-image">
                        <div class="field-content">
                          <img
                            typeof="foaf:Image"
                            src="https://aptechvietnam.com.vn/sites/default/files/styles/avata_90_90/public/svvn-online-logo.png?itok=0ho_o5G2"
                            width="90"
                            height="90"
                            alt=""
                            class="lazyOwl"
                            style="display: inline"
                          />
                        </div>
                      </div>
                      <div class="views-field views-field-nothing">
                        <span class="field-content">
                          <div class="testimonial_content">
                            <div class="body">
                              Đến nay, MB Ageas Ấn Độ đã góp phần giải quyết sự thiếu hụt nhân lực lập trình viên và tạo
                              ra làn sóng mới trong xu hướng chọn nghề của nhiều bạn trẻ...
                            </div>
                            <div class="author"><span class="name">Báo Sinh viên Việt Nam</span> -</div>
                          </div>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item" style="width: 440px">
                    <div class="item-4 item-odd">
                      <div class="views-field views-field-field-news-image">
                        <div class="field-content">
                          <img
                            typeof="foaf:Image"
                            src="https://aptechvietnam.com.vn/sites/default/files/styles/avata_90_90/public/vtvt2.png?itok=-FY3ecj2"
                            width="90"
                            height="90"
                            alt="VTV2"
                            title="VTV2"
                            class="lazyOwl"
                            style="display: inline"
                          />
                        </div>
                      </div>
                      <div class="views-field views-field-nothing">
                        <span class="field-content">
                          <div class="testimonial_content">
                            <div class="body">
                              Sau khi vào Việt Nam, Hệ thống Đào tạo Lập trình viên Quốc tế MB Ageas được biết đến với
                              một ưu thế đó là học viên sau khi tốt nghiệp có kỹ năng làm...
                            </div>
                            <div class="author"><span class="name">VTV2</span> - Đài Truyền hình Việt Nam</div>
                          </div>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item" style="width: 440px">
                    <div class="item-5 item-even">
                      <div class="views-field views-field-field-news-image">
                        <div class="field-content">
                          <img
                            typeof="foaf:Image"
                            src="https://aptechvietnam.com.vn/sites/default/files/styles/avata_90_90/public/giaoducthoidai.png?itok=c5NK3PQZ"
                            width="90"
                            height="90"
                            alt="Báo Giáo dục và Thời đại"
                            title="Báo Giáo dục và Thời đại"
                            class="lazyOwl"
                            style="display: inline"
                          />
                        </div>
                      </div>
                      <div class="views-field views-field-nothing">
                        <span class="field-content">
                          <div class="testimonial_content">
                            <div class="body">
                              Các công ty nước ngoài rất tin tưởng MB Ageas: ứng viên chỉ cần nói đã học tại MB Ageas là
                              được nhận vào làm ngay, không cần qua khâu thử việc
                            </div>
                            <div class="author"><span class="name">Báo Giáo dục và Thời đại</span> -</div>
                          </div>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item" style="width: 440px">
                    <div class="item-6 item-odd">
                      <div class="views-field views-field-field-news-image">
                        <div class="field-content">
                          <img
                            typeof="foaf:Image"
                            src="https://aptechvietnam.com.vn/sites/default/files/styles/avata_90_90/public/vnexpress.jpg?itok=PNg6zEdK"
                            width="90"
                            height="90"
                            alt="Báo VnExpress"
                            title="Báo VnExpress"
                            class="lazyOwl"
                            style="display: inline"
                          />
                        </div>
                      </div>
                      <div class="views-field views-field-nothing">
                        <span class="field-content">
                          <div class="testimonial_content">
                            <div class="body">
                              MB Ageas là địa chỉ giúp người học trang bị những nền tảng công nghệ mới nhất trên các
                              thiết bị hiện đại.&nbsp;
                            </div>
                            <div class="author"><span class="name">Báo Điện tử VnExpress</span> -</div>
                          </div>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="owl-controls clickable">
                <div class="owl-pagination">
                  <div class="owl-page active"><span class=""></span></div>
                  <div class="owl-page"><span class=""></span></div>
                  <div class="owl-page"><span class=""></span></div>
                  <div class="owl-page"><span class=""></span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
