<div class="p-dialog-header px-0">
  <span class="p-dialog-title">{{ title }}</span>
  <div class="p-dialog-header-icons">
    <button type="button" class="p-dialog-header-icon p-dialog-header-maximize p-link" (click)="cancel()">
      <span class="p-dialog-header-close-icon pi pi-times"></span>
    </button>
  </div>
</div>
<div class="p-dialog-body">
  <div class="grid p-mt-3 p-ml-0 p-mr-0">
    <div *ngIf="listApprover.length > 0" class="p-col-12 p-md-3">
      <p-timeline [value]="listApprover" styleClass="customized-timeline" [align]="'left'">
        <ng-template pTemplate="marker" let-event>
          <span class="custom-marker p-shadow-2" [style.backgroundColor]="event.color">
            <i [ngClass]="event.icon"></i>
          </span>
        </ng-template>
        <ng-template pTemplate="content" let-event>
          <p-card
            [header]="event.employeeCode"
            subheader="{{ event.approvedDate | date: 'dd/MM/yyyy' }}"
            styleClass="info-approver"
          >
            <!-- <span>{{ event.approvedDate | date: 'dd/MM/yyyy' }}</span> -->
          </p-card>
        </ng-template>
      </p-timeline>
    </div>
    <div [class]="'p-col-12 p-md-' + (listApprover.length > 0 ? '9' : '12')">
      <div class="grid">
        <ng-container *ngFor="let item of listField">
          <div *ngIf="item.show" [class]="'p-col-12 p-md-' + item.col" [formGroup]="form">
            <div class="p-float-label">
              <p-calendar
                *ngIf="item.type === fieldType.Date"
                [showTime]="false"
                [readonlyInput]="true"
                dateFormat="dd/mm/yy"
                [formControlName]="item.name"
                [showIcon]="true"
                inputId="icon"
                appendTo="body"
              >
              </p-calendar>
              <input *ngIf="item.type === fieldType.Text" type="text" pInputText [formControlName]="item.name" />
              <textarea
                *ngIf="item.type === fieldType.TextArea"
                rows="3"
                [formControlName]="item.name"
                pInputTextarea
              ></textarea>
              <label for="inputtext">{{ item.label }}</label>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<div class="p-dialog-footer p-p-0 p-mt-3">
  <button pButton (click)="cancel()" label="Đóng" class="p-button-danger"></button>
</div>
