<section class="w3l-feature-3" id="features">
  <div class="grid mt-5 mb-5">
    <div class="container">

      <div class="middle-section grid-column text-center">
        <div class="three-grids-columns">
          <span class="fa fa-laptop"></span>
          <h4>Các khóa học tại MB Ageas IT</h4>
          <p>Các khóa học từ cơ bản đến nâng cao phù hợp cho mọi trình độ,chương trình học chú trọng thực hành sinh viên luôn được tiếp cận với dự án thực tế.</p>
          <a [routerLink]="['/mb-ageas/course']" class="btn btn-secondary btn-theme3 mt-4">Xem thêm </a>
        </div>
        <div class="three-grids-columns">
          <span class="fa fa-users"></span>
          <h4>Đội ngũ giảng viên có trình độ cao</h4>
          <p>Giảng viên là những chuyên gia hàng đầu Việt Nam và luôn đồng hành cùng học viên trong quá trình học tập và phát triển.</p>
          <a [routerLink]="['/mb-ageas/dashboard']" class="btn btn-secondary btn-theme3 mt-4">Xem thêm</a>
        </div>
        <div class="three-grids-columns">
          <span class="fa fa-book"></span>
          <h4>Thư viện & Cửa hàng Sách</h4>
          <p>Tài liệu học đa dạng phong phú giúp nâng cao trí tuệ cho học viên.</p>
          <a [routerLink]="['/mb-ageas/dashboard']" class="btn btn-secondary btn-theme3 mt-4">Xem thêm</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- features-4 block -->
<section class="w3l-index1" id="about">
  <div class="calltoaction-20  py-5 editContent">
    <div class="container py-md-3">

      <div class="calltoaction-20-content row">
        <div class="column center-align-self col-lg-6 pr-lg-5">
          <h5 class="editContent">Chào mừng đến với MB Ageas IT</h5>
          <p class="more-gap editContent">Có mặt tại Việt Nam từ năm 1999, MB ageas IT là địa chỉ học tập uy tín cho các bạn trẻ Việt Nam, 
            trong đó chủ yếu là sinh viên và học sinh trung học phổ thông. Đến nay, Tập đoàn MB ageas IT đã đào tạo được hơn 100.000 Lập trình viên Quốc tế
             cho ngành CNTT Việt Nam.</p>
          
          <a class="btn btn-secondary btn-theme2 mt-3" > Đọc thêm</a>
        </div>
        <div class="column ccont-left col-lg-6">
          <img src="assets/images/g1.jpg" class="img-responsive" alt="">
        </div>
      </div>
    </div>
  </div>
</section>