<style>
  .block-title {
    color: #141ed2 !important;
  }
</style>
<div class="slideshow">
  <!-- <div class="container header_slideshow">
        <div class="row">
            <div class="col-sm-12">
                <div class="breadcrumb"></div>
                <div class="title_page">
                    <h1></h1>
                </div>
            </div>
        </div>
    </div> -->
  <div class="slideshow-content">
    <div class="region region-slideshow">
      <section id="block-views-slidewshow-front-block" class="block block-views front-slideshow clearfix">
        <div class="block-content">
          <div
            class="view view-slidewshow-front view-id-slidewshow_front view-display-id-block view-dom-id-04988d2960003d68bedc900f707c7a3a"
          >
            <div class="view-content">
              <div
                id="views-bootstrap-carousel-1"
                class="views-bootstrap-carousel-plugin-style carousel slide"
                data-ride="carousel"
              >
                <ol class="carousel-indicators">
                  <li data-target="#views-bootstrap-carousel-1" data-slide-to="0" class="active"></li>
                  <li data-target="#views-bootstrap-carousel-1" data-slide-to="1" class=""></li>
                  <li data-target="#views-bootstrap-carousel-1" data-slide-to="2" class=""></li>
                  <li data-target="#views-bootstrap-carousel-1" data-slide-to="3" class=""></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item active">
                    <div class="views-field views-field-field-banner">
                      <div class="field-content">
                        <a href="tuyensinh2021/index.html"
                          ><img
                            typeof="foaf:Image"
                            src="./assets/pages/sites/default/files/1600x640_7.png"
                            width="1600"
                            height="640"
                            alt="" /></a
                        ><a href=""> </a>
                      </div>
                    </div>
                  </div>

                  <div class="item">
                    <div class="views-field views-field-field-banner">
                      <div class="field-content">
                        <a href="https://www.facebook.com/AptechVNLearning/posts/121912899850527"
                          ><img
                            typeof="foaf:Image"
                            src="./assets/pages/sites/default/files/banner-pc_2_6.png"
                            width="1600"
                            height="640"
                            alt="" /></a
                        ><a href="https://www.facebook.com/AptechVNLearning/posts/121912899850527"
                          ><img
                            typeof="foaf:Image"
                            src="./assets/pages/sites/default/files/banner-mb_2_4.png"
                            width="720"
                            height="960"
                            alt=""
                        /></a>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="views-field views-field-field-banner">
                      <div class="field-content">
                        <a href="thuthachtuduy/index.html"
                          ><img
                            typeof="foaf:Image"
                            src="./assets/pages/sites/default/files/banner-pc_73.png"
                            width="1600"
                            height="640"
                            alt="" /></a
                        ><a href="thuthachtuduy/index.html"
                          ><img
                            typeof="foaf:Image"
                            src="./assets/pages/sites/default/files/banner-mb_24.png"
                            width="720"
                            height="960"
                            alt=""
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
                <a class="carousel-control left" href="#views-bootstrap-carousel-1" data-slide="prev">
                  <span class="icon-prev"></span>
                </a>
                <a class="carousel-control right" href="#views-bootstrap-carousel-1" data-slide="next">
                  <span class="icon-next"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<div class="highlighted">
  <div class="region region-highlighted">
    <section id="block-views-slideshow-block" class="block block-views cau_noi_hay_block clearfix">
      <div class="container">
        <div
          class="view view-slideshow view-id-slideshow view-display-id-block view-dom-id-62334a225bd84fc073fe0b52a0696250"
        >
          <div class="view-content">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="item active">
                  <div
                    class="cua_noi_hay"
                    url-image="https://aptechvietnam.com.vn/sites/default/files/banners-06.png"
                    style="background: url(./assets/pages/sites/default/files/banners-06.png) no-repeat right center"
                  >
                    <div class="body_caunoi">
                      <p>
                        Nếu bạn là lập trình viên giỏi, tôi sẽ tuyển bạn ngay lập tức! Thế giới đang khát khao các lập
                        trình viên.&nbsp;
                      </p>
                    </div>
                    <div class="location">Mark Zuckerberg – Đồng sáng lập, Chủ tịch và Giám đốc Điều hành Facebook</div>
                  </div>
                </div>
                <div class="item">
                  <div
                    class="cua_noi_hay"
                    url-image="https://aptechvietnam.com.vn/sites/default/files/banners-03.png"
                    style="background: url(./assets/pages/sites/default/files/banners-03.png) no-repeat right center"
                  >
                    <div class="body_caunoi">
                      <p>
                        Lập trình không khó. Chỉ với một chút kiến thức về toán học thì ai cũng có thể lập trình.&nbsp;
                      </p>
                    </div>
                    <div class="location">Barack Obama – Tổng thống Mỹ</div>
                  </div>
                </div>
                <div class="item">
                  <div
                    class="cua_noi_hay"
                    url-image="https://aptechvietnam.com.vn/sites/default/files/steve-jobs.png"
                    style="background: url(./assets/pages/sites/default/files/steve-jobs.png) no-repeat right center"
                  >
                    <div class="body_caunoi">
                      <p>Mỗi người đều cần học cách lập trình máy tính vì chúng dạy ta cách suy nghĩ.&nbsp;</p>
                    </div>
                    <div class="location">Steve Jobs – Cựu CEO Apple</div>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="block-block-10" class="block block-block loi_ich clearfix">
      <div class="container">
        <h2 class="block-title">LỢI ÍCH VƯỢT TRỘI KHÓA LẬP TRÌNH VIÊN QUỐC TẾ</h2>
        <h3>TẠI ĐƠN VỊ ĐÀO TẠO CNTT SỐ 1 VIỆT NAM</h3>
        <div class="row">
          <div class="col-sm-3">
            <div class="image_loi_ich">
              <img src="./assets/pages/sites/all/themes/aptech_news_2/images/loi_ich1.png" />
            </div>
            <div class="title">
              Chương trình đào tạo <br />
              <span>theo chuẩn quốc tế</span>
            </div>
            <br />
            <br />
            <div class="des">
              Giúp sinh viên có cơ hội tiếp thu, học hỏi lượng kiến thức chất lượng về công nghệ được công nhận tại
              nhiều quốc gia trên thế giới.
            </div>
          </div>
          <div class="col-sm-3">
            <div class="image_loi_ich">
              <img src="./assets/pages/sites/all/themes/aptech_news_2/images/loi_ich2.png" />
            </div>
            <div class="title">
              Thời gian đào tạo ngắn<br />
              <span>Chỉ trong 2,5 năm</span>
            </div>
            <br />
            <br />
            <div class="des">
              Với thời lượng đào tạo được tối giản chỉ tập trung vào các môn chuyên ngành, sinh viên MB Ageas sau 2,5
              năm học tập đã có thể đi làm ngay.
            </div>
          </div>
          <div class="col-sm-3">
            <div class="image_loi_ich">
              <img src="./assets/pages/sites/all/themes/aptech_news_2/images/loi_ich3.png" />
            </div>
            <div class="title">
              Chương trình Liên thông<br />
              <span>Đại học Quốc tế</span>
            </div>
            <br />
            <br />
            <div class="des">
              Ngoài môi trường giảng dạy quốc tế, chúng tôi còn giúp bạn Liên thông lên các trường ĐH Quốc tế như RMIT,
              AUT, BROOKES...
            </div>
          </div>
          <div class="col-sm-3">
            <div class="image_loi_ich">
              <img src="./assets/pages/sites/all/themes/aptech_news_2/images/loi_ich4.png" />
            </div>
            <div class="title">
              Sinh viên ra trường<br />
              <span>95% có việc làm ngay</span>
            </div>
            <br />
            <br />
            <div class="des">
              MB Ageas thường xuyên liên kết với các doanh nghiệp về Công nghệ Thông tin, cam kết sinh viên ra trường sẽ
              có việc làm, nơi thực tập phù hợp.
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="block-views-slideshow-block-1" class="block block-views block_uu_diem clearfix">
      <div class="container">
        <h2 class="block-title">6.8 triệu học viên trên Thế giới đã chọn MB Ageas, Vì sao?</h2>
        <h3></h3>
        <div class="row">
          <div class="row">
            <div class="col-sm-4">
              <div class="item-0 item-odd">
                <div class="views-field views-field-field-slider-images">
                  <div class="field-content">
                    <img
                      typeof="foaf:Image"
                      src="./assets/pages/sites/default/files/styles/265_175/public/chuong_trinh_hoc_chu_trong_thuc_hanhbdb9.jpg?itok=jjDaHJ0Y"
                      width="265"
                      height="175"
                      alt=""
                    />
                  </div>
                </div>
                <div class="views-field views-field-nothing">
                  <span class="field-content">
                    <div class="uu_diem_row">
                      <div class="title">Chương trình học</div>
                      <div class="row_2">Chú trọng thực hành</div>
                      <div class="body_caunoi">
                        <p style="text-align: justify">
                          Với chương trình học chú trọng thực hành, sinh viên MB Ageas luôn được tạo điều kiện để thực
                          hiện các dự án thực tế một cách thành thạo, chuyên nghiệp nhất.
                        </p>
                      </div>
                    </div>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="item-1 item-even">
                <div class="views-field views-field-field-slider-images">
                  <div class="field-content">
                    <img
                      typeof="foaf:Image"
                      src="./assets/pages/sites/default/files/styles/265_175/public/doi_ngu_giang_vien_than_thien_nhiet_tinh5942.jpg?itok=NP-hk2Ku"
                      width="265"
                      height="175"
                      alt=""
                    />
                  </div>
                </div>
                <div class="views-field views-field-nothing">
                  <span class="field-content">
                    <div class="uu_diem_row">
                      <div class="title">Đội ngũ giảng viên</div>
                      <div class="row_2">Thân thiện, nhiệt tình</div>
                      <div class="body_caunoi">
                        <p style="text-align: justify">
                          Giảng viên là những Chuyên gia hàng đầu Việt Nam và luôn đồng hành cùng sinh viên MB Ageas
                          trong quá trình học tập và phát triển.
                        </p>
                      </div>
                    </div>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="item-2 item-odd">
                <div class="views-field views-field-field-slider-images">
                  <div class="field-content">
                    <img
                      typeof="foaf:Image"
                      src="./assets/pages/sites/default/files/styles/265_175/public/co-so-vat-chat-theo-chuan-quoc-tebd74.jpg?itok=pwqtFqW5"
                      width="265"
                      height="175"
                      alt=""
                    />
                  </div>
                </div>
                <div class="views-field views-field-nothing">
                  <span class="field-content">
                    <div class="uu_diem_row">
                      <div class="title">Cơ sở vật chất</div>
                      <div class="row_2">theo chuẩn Quốc tế</div>
                      <div class="body_caunoi" style="font-size: 14px">
                        <p style="text-align: justify">
                          Với tiêu chuẩn đào tạo quốc tế, MB Ageas luôn đảm bảo cho học viên không gian học tập, nghiêm
                          cứu sáng tạo và hiện đại nhất.
                        </p>
                      </div>
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <br />
          <br />
        </div>
      </div>
    </section>

    <section id="block-block-11" class="block block-block button clearfix">
      <div class="container">
        <h2 class="block-title">Bạn có muốn học cùng chuyên gia CNTT hàng đầu?</h2>
        <div class="row">
          <div class="col-sm-12">
            <a [routerLink]="['/mb-ageas/dang-ky-khoa-hoc']" class="button_i_want">Tôi muốn</a>
          </div>
        </div>
      </div>
    </section>
    <section id="block-views-slideshow-block-3" class="block block-views tron_niem_tin clearfix">
      <div class="container">
        <h2 class="block-title">Xã hội Công nhận</h2>
        <h3>CÁC GIẢI THƯỞNG CỦA HỆ THỐNG ĐÀO TẠO LẬP TRÌNH VIÊN QUỐC TẾ MB Ageas</h3>
        <div class="row giai_thuong">
          <div class="col-sm-3">
            <div class="image_loi_ich">
              <img src="./assets/pages/sites/all/themes/aptech_news_2/images/badge-1.png" />
            </div>
            <div class="title">
              <span>Cúp Trường đào tạo CNTT Số 1 Việt Nam </span><br />
              do Bộ Thông tin và Truyền thông trao
            </div>
          </div>

          <div class="col-sm-3">
            <div class="image_loi_ich">
              <img src="./assets/pages/sites/all/themes/aptech_news_2/images/badge-2.png" />
            </div>
            <div class="title">
              <span>Cúp Đơn vị Đào tạo CNTT Xuất sắc Nhất Việt Nam</span><br />
              trong 14 năm liên tiếp (1999-2020) do Hội Tin học TP. HCM trao
            </div>
          </div>

          <div class="col-sm-3">
            <div class="image_loi_ich">
              <img src="./assets/pages/sites/all/themes/aptech_news_2/images/badge-3.png" />
            </div>
            <div class="title">
              <span>Cúp Đơn vị Đào tạo Nhân lực CNTT Số 1 Việt Nam</span><br />
              do Hiệp hội phần mềm Việt Nam trao
            </div>
          </div>

          <div class="col-sm-3">
            <div class="image_loi_ich">
              <img src="./assets/pages/sites/all/themes/aptech_news_2/images/badge-4.png" />
            </div>
            <div class="title">
              <span>Cúp Tinh hoa Việt Nam</span><br />
              do Hiệp hội Doanh nghiệp Việt Nam trao
            </div>
          </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="row">
          <div
            class="view view-slideshow view-id-slideshow view-display-id-block_3 view-dom-id-fb28b11d0f0b611ccd5c080b6cfce951"
          >
            <div class="view-content">
              <div class="owl-carousel-block_38">
                <div class="item-0 item-odd">
                  <div class="views-field views-field-field-news-image">
                    <div class="field-content">
                      <img
                        typeof="foaf:Image"
                        src="./assets/pages/sites/default/files/styles/avata_90_90/public/usola8f9.jpg?itok=kpIHuP_m"
                        width="90"
                        height="90"
                        alt="Ông Hiroshi Watabe "
                        title="Ông Hiroshi Watabe "
                      />
                    </div>
                  </div>
                  <div class="views-field views-field-nothing">
                    <span class="field-content">
                      <div class="testimonial_content">
                        <div class="body">
                          Usol Việt Nam đã tiếp nhận sinh viên MB Ageas vào làm việc từ nhiều năm nay. Chúng tôi đều hài
                          lòng về họ.
                        </div>
                        <div class="author">
                          <span class="name">Ông Hiroshi Watabe </span> - TGĐ Công ty TNHH Usol Việt Nam
                        </div>
                      </div>
                    </span>
                  </div>
                </div>
                <div class="item-1 item-even">
                  <div class="views-field views-field-field-news-image">
                    <div class="field-content">
                      <img
                        typeof="foaf:Image"
                        src="./assets/pages/sites/default/files/styles/avata_90_90/public/ifi83f7.jpg?itok=-ul-g41_"
                        width="90"
                        height="90"
                        alt="Ông Hoàng Hải - GĐ Tổng hợp Công ty Cổ CP Giải pháp Tin học IFI Solution"
                        title="Ông Hoàng Hải - GĐ Tổng hợp Công ty Cổ CP Giải pháp Tin học IFI Solution"
                      />
                    </div>
                  </div>
                  <div class="views-field views-field-nothing">
                    <span class="field-content">
                      <div class="testimonial_content">
                        <div class="body">
                          Chúng tôi tuyển dụng sinh viên MB Ageas vì khả năng làm việc thực tế và kỹ năng thích ứng môi
                          trường làm việc của họ rất tốt.
                        </div>
                        <div class="author">
                          <span class="name">Ông Hoàng Hải </span> - GĐ Tổng hợp Công ty CP Giải pháp Tin học IFI
                          Solution
                        </div>
                      </div>
                    </span>
                  </div>
                </div>
                <div class="item-2 item-odd">
                  <div class="views-field views-field-field-news-image">
                    <div class="field-content">
                      <img
                        typeof="foaf:Image"
                        src="./assets/pages/sites/default/files/styles/avata_90_90/public/hosontungea9d.jpg?itok=mTyc3TB0"
                        width="90"
                        height="90"
                        alt="Ông Hồ Sơn Tùng "
                        title="Ông Hồ Sơn Tùng "
                      />
                    </div>
                  </div>
                  <div class="views-field views-field-nothing">
                    <span class="field-content">
                      <div class="testimonial_content">
                        <div class="body">
                          Điểm mạnh của các bạn MB Ageas là thời gian thực hành nhiều nên bắt nhịp với công việc nhanh.
                          Đây là lợi thế ban đầu trong ứng tuyển.&nbsp;
                        </div>
                        <div class="author">
                          <span class="name">Ông Hồ Sơn Tùng </span> - PGĐ Công ty cổ phần truyền thông Lạc Hồng
                        </div>
                      </div>
                    </span>
                  </div>
                </div>
                <div class="item-3 item-even">
                  <div class="views-field views-field-field-news-image">
                    <div class="field-content">
                      <img
                        typeof="foaf:Image"
                        src="./assets/pages/sites/default/files/styles/avata_90_90/public/svvn-online-logo7edc.png?itok=0ho_o5G2"
                        width="90"
                        height="90"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="views-field views-field-nothing">
                    <span class="field-content">
                      <div class="testimonial_content">
                        <div class="body">
                          Đến nay, MB Ageas Ấn Độ đã góp phần giải quyết sự thiếu hụt nhân lực lập trình viên và tạo ra
                          làn sóng mới trong xu hướng chọn nghề của nhiều bạn trẻ...
                        </div>
                        <div class="author"><span class="name">Báo Sinh viên Việt Nam</span> -</div>
                      </div>
                    </span>
                  </div>
                </div>
                <div class="item-4 item-odd">
                  <div class="views-field views-field-field-news-image">
                    <div class="field-content">
                      <img
                        typeof="foaf:Image"
                        src="./assets/pages/sites/default/files/styles/avata_90_90/public/vtvt2d23a.png?itok=-FY3ecj2"
                        width="90"
                        height="90"
                        alt="VTV2"
                        title="VTV2"
                      />
                    </div>
                  </div>
                  <div class="views-field views-field-nothing">
                    <span class="field-content">
                      <div class="testimonial_content">
                        <div class="body">
                          Sau khi vào Việt Nam, Hệ thống Đào tạo Lập trình viên Quốc tế MB Ageas được biết đến với một
                          ưu thế đó là học viên sau khi tốt nghiệp có kỹ năng làm...
                        </div>
                        <div class="author"><span class="name">VTV2</span> - Đài Truyền hình Việt Nam</div>
                      </div>
                    </span>
                  </div>
                </div>
                <div class="item-5 item-even">
                  <div class="views-field views-field-field-news-image">
                    <div class="field-content">
                      <img
                        typeof="foaf:Image"
                        src="./assets/pages/sites/default/files/styles/avata_90_90/public/giaoducthoidai3304.png?itok=c5NK3PQZ"
                        width="90"
                        height="90"
                        alt="Báo Giáo dục và Thời đại"
                        title="Báo Giáo dục và Thời đại"
                      />
                    </div>
                  </div>
                  <div class="views-field views-field-nothing">
                    <span class="field-content">
                      <div class="testimonial_content">
                        <div class="body">
                          Các công ty nước ngoài rất tin tưởng MB Ageas: ứng viên chỉ cần nói đã học tại MB Ageas là
                          được nhận vào làm ngay, không cần qua khâu thử việc
                        </div>
                        <div class="author"><span class="name">Báo Giáo dục và Thời đại</span> -</div>
                      </div>
                    </span>
                  </div>
                </div>
                <div class="item-6 item-odd">
                  <div class="views-field views-field-field-news-image">
                    <div class="field-content">
                      <img
                        typeof="foaf:Image"
                        src="./assets/pages/sites/default/files/styles/avata_90_90/public/vnexpress19cc.jpg?itok=PNg6zEdK"
                        width="90"
                        height="90"
                        alt="Báo VnExpress"
                        title="Báo VnExpress"
                      />
                    </div>
                  </div>
                  <div class="views-field views-field-nothing">
                    <span class="field-content">
                      <div class="testimonial_content">
                        <div class="body">
                          MB Ageas là địa chỉ giúp người học trang bị những nền tảng công nghệ mới nhất trên các thiết
                          bị hiện đại.&nbsp;
                        </div>
                        <div class="author"><span class="name">Báo Điện tử VnExpress</span> -</div>
                      </div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <br />
    <section id="block-block-12" class="block block-block header_course clearfix">
      <div class="container">
        <h2 class="block-title">Nội dung khóa học</h2>
        <div class="row">
          <div class="col-sm-12">
            <div class="name_course">ĐÀO TẠO LẬP TRÌNH VIÊN QUỐC TẾ - ACCP - ADSE</div>
            <div class="time_course">(4 học kỳ - trong vòng 2,5 năm)</div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="front_content_1">
  <div class="container">
    <div class="row">
      <div class="region region-front-content-1">
        <section id="block-views-slideshow-block-5" class="block block-views col-sm-12 eproject_ect clearfix">
          <h2 class="block-title">Các dự án phần mềm</h2>
          <div class="block-content">
            <div
              class="view view-slideshow view-id-slideshow view-display-id-block_5 row view-dom-id-3309baf1d007ca45f6283d48b268b9fe"
            >
              <div class="view-header">
                <h3>Cuối mỗi học kỳ, học viên tham gia làm 1 dự án phần mềm theo nhóm (eProject).</h3>
                <p>
                  eProject mô phỏng quá trình làm dự án trên thực tế, giúp các bạn học viên trải nghiệm môi trường làm
                  việc thật trong doanh nghiệp sau khi tốt nghiệp.
                </p>
                <p>
                  Khi thực hiện dự án, học viên có thể liên lạc với nhau qua Internet mà không cần tập trung tại một địa
                  điểm.
                </p>
              </div>
              <div class="view-content">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="views-field views-field-field-icon-project">
                      <div class="field-content">
                        <img
                          typeof="foaf:Image"
                          src="./assets/pages/sites/default/files/loi_ich1_0.png"
                          width="99"
                          height="89"
                          alt=""
                        />
                      </div>
                    </div>
                    <div class="views-field views-field-title">
                      <span class="field-content">Nâng cao khả năng tiếng Anh</span>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="views-field views-field-field-icon-project">
                      <div class="field-content">
                        <img
                          typeof="foaf:Image"
                          src="./assets/pages/sites/default/files/loi_ich3.png"
                          width="122"
                          height="129"
                          alt=""
                        />
                      </div>
                    </div>
                    <div class="views-field views-field-title">
                      <span class="field-content">Phát triển các kỹ năng làm việc nhóm</span>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="views-field views-field-field-icon-project">
                      <div class="field-content">
                        <img
                          typeof="foaf:Image"
                          src="./assets/pages/sites/default/files/loi_ich2.png"
                          width="117"
                          height="117"
                          alt=""
                        />
                      </div>
                    </div>
                    <div class="views-field views-field-title">
                      <span class="field-content">Dự án được thực hiện theo mô hình Agile</span>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="views-field views-field-field-icon-project">
                      <div class="field-content">
                        <img
                          typeof="foaf:Image"
                          src="./assets/pages/sites/default/files/loi_ich4.png"
                          width="103"
                          height="100"
                          alt=""
                        />
                      </div>
                    </div>
                    <div class="views-field views-field-title">
                      <span class="field-content">Trải nghiệm thông qua việc làm trên một dự án thực tế</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="block-block-22" class="block block-block col-sm-12 ads clearfix">
          <div class="block-content">
            <p><a href="aptechplus.aptech-news.html"></a></p>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<div class="front_content_2">
  <div class="region region-front-content-2">
    <section id="block-webform-client-block-5352" class="block block-webform form_register col-sm-12 clearfix">
      <div class="container">
        <h2 class="block-title">ĐĂNG KÝ NHẬN TƯ VẤN TỪ MB Ageas</h2>
        <h3>
          Bạn vui lòng điền đầy đủ thông tin và click đăng ký. MB Ageas sẽ liên lạc với bạn trong thời gian sớm nhất
        </h3>
        <div class="row">
          <div id="webform-ajax-wrapper-5352">
            <form
              class="webform-client-form webform-client-form-5352"
              action="/Home/FeedBack"
              method="post"
              id="webform-client-form-5352"
              accept-charset="UTF-8"
            >
              <div>
                <div class="form-item webform-component webform-component-textfield webform-component--name">
                  <label for="edit-submitted-name"
                    >Họ và tên <span class="form-required" title="This field is required.">*</span></label
                  >
                </div>
                <div class="form-item webform-component webform-component-email webform-component--e-mail">
                  <label for="edit-submitted-e-mail"
                    >E-mail <span class="form-required" title="This field is required.">*</span></label
                  >
                </div>
                <div class="form-item webform-component webform-component-textfield webform-component--phone">
                  <label for="edit-submitted-phone"
                    >Điện thoại <span class="form-required" title="This field is required.">*</span></label
                  >
                </div>
                <div class="form-item webform-component webform-component-radios webform-component--location">
                  <label for="edit-submitted-location"
                    >Vị trí <span class="form-required" title="This field is required.">*</span></label
                  >
                  <div id="edit-submitted-location" class="form-radios">
                    <div class="form-type-radio form-item-submitted-location form-item radio">
                      <input
                        required="required"
                        type="radio"
                        id="edit-submitted-location-1"
                        name="submitted[location]"
                        value="1"
                        class="form-radio"
                      />
                      <label for="edit-submitted-location-1">21 Cát Linh, Phường Cát Linh, Q. Đống Đa, Hà Nội </label>
                    </div>
                    <div class="form-type-radio form-item-submitted-location form-item radio">
                      <input
                        required="required"
                        type="radio"
                        id="edit-submitted-location-2"
                        name="submitted[location]"
                        value="2"
                        class="form-radio"
                      />
                      <label for="edit-submitted-location-2">1 Phạm Huy Thông, Q. Ba Đình, Hà Nội</label>
                    </div>
                    <div class="form-type-radio form-item-submitted-location form-item radio">
                      <input
                        required="required"
                        type="radio"
                        id="edit-submitted-location-3"
                        name="submitted[location]"
                        value="3"
                        class="form-radio"
                      />
                      <label for="edit-submitted-location-3">212-214 Nguyễn Đình Chiểu, Q.3, TPHCM </label>
                    </div>
                  </div>
                </div>
                <fieldset class="captcha panel panel-default form-wrapper">
                  <div class="panel-body">
                    <div
                      class="form-type-textfield form-item-captcha-response form-item form-group"
                      data-toggle="tooltip"
                      title="Fill in the blank."
                    >
                      <label for="edit-captcha-response"
                        >Nhập thông tin cần tư vấn<span class="form-required" title="This field is required."
                          >*</span
                        ></label
                      >
                    </div>
                  </div>
                </fieldset>
                <button class="webform-submit button-primary btn btn-primary form-submit" value="Submit" type="submit">
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="front_content_3">
  <div class="container">
    <div class="row">
      <div class="region region-front-content-3">
        <section id="block-block-26" class="block block-block col-sm-12 footer_cat clearfix">
          <h2 class="block-title">Bừng sáng khát vọng thành công cùng MB Ageas</h2>
          <div class="block-content"><a class="go_front" href="#block-md-slider-md-slider-57457a5e36cb1"></a></div>
        </section>
      </div>
    </div>
  </div>
</div>
