<div class="card">
  <h5>Upload file BPM</h5>
  <p-fileUpload
    #bpm
    name="bpm"
    (uploadHandler)="uploadHandler($event, bpm, 'bpm')"
    [customUpload]="true"
    [multiple]="false"
    accept=".xml"
    [maxFileSize]="1000000"
  >
  </p-fileUpload>

  <h5>Upload file Drools</h5>
  <p-fileUpload
    #drool
    name="drool"
    (uploadHandler)="uploadHandler($event, drool, 'drools')"
    [customUpload]="true"
    [multiple]="false"
    accept=".xls, .xlsx"
    [maxFileSize]="1000000"
  >
  </p-fileUpload>
  <!-- <div class="grid p-nogutter p-jc-between p-mt-5">
    <button
      pButton
      label="Back"
      icon="pi pi-angle-left"
      [disabled]="indexStepActive === 0"
      (click)="backStep()"
    ></button>
    <button
      *ngIf="indexStepActive + 1 < steps.length"
      pButton
      label="Next"
      icon="pi pi-angle-right"
      iconPos="right"
      (click)="nextStep()"
    ></button>
    <button
      *ngIf="indexStepActive + 1 === steps.length"
      pButton
      label="Complete"
      styleClass="p-button-success"
      (click)="complete()"
    ></button>
  </div> -->
</div>
