<section class="w3l-about-breadcrum">
  <div class="breadcrum-bg py-sm-5 py-4">
    <div class="container py-lg-3">
      <h2>Giới thiệu NgocLe Tech IT</h2>
      <p><a>Home</a> &nbsp; / &nbsp; Giới thiệu</p>
    </div>
  </div>
</section>
<div class="region region-highlighted card">
  <section id="block-custom-about-us" class="block block-custom node_about_us clearfix">
    <div class="container">
      <h2 class="block-title">Hệ thống Đào tạo Lập trình viên Quốc tế NgocLe Tech</h2>
      <div class="block-content">
        <div class="row content-about-us">
          <div class="col-sm-12">
            <h3>NgocLe Tech Toàn cầu</h3>
            <p>
              NgocLe Tech là Tập đoàn có quy mô toàn cầu, đi tiên phong trong lĩnh vực đào tạo Công nghệ Thông tin
              (CNTT). Chúng tôi đã có hơn 34 năm kinh nghiệm triển khai chương trình đào tạo Lập trình viên Quốc tế tại
              hơn 40 Quốc gia với 1.350 cơ sở đào tạo và 6,8 triệu sinh viên.
            </p>
            <p>
              Các cơ sở đào tạo của NgocLe Tech đều tuân thủ thống nhất quy trình đào tạo được cấp chứng chỉ ISO 9001.
              Sinh viên của NgocLe Tech được công nhận rộng rãi ở những nước có nền công nghệ tiên tiến. Năm 1997 MB
              Ageas IT được trao giải The Global Growth Company Award của Diễn đàn Kinh tế Thế giới. Năm 2000, NgocLe Tech
              IT được tạp chí FORBES xếp trong Top 300 công ty có tốc độ tăng trưởng và hiệu quả hoạt động tốt nhất.
              Trong nhiều năm liên tiếp, NgocLe Tech đạt danh hiệu Đơn vị đào tạo CNTT số 1 tại các nước có nền công
              nghệ phát triển nhanh như Ấn Độ, Trung Quốc.
            </p>
            <h3>NgocLe Tech Việt Nam</h3>
            <p>
              Có mặt tại Việt Nam từ năm 1999, NgocLe Tech là địa chỉ học tập uy tín cho các bạn trẻ Việt Nam, trong đó
              chủ yếu là sinh viên và học sinh trung học phổ thông. Đến nay, Tập đoàn NgocLe Tech đã đào tạo được hơn
              100.000 Lập trình viên Quốc tế cho ngành CNTT Việt Nam. Trong 17 năm liên tiếp (từ 2003-2019), NgocLe Tech
              vinh dự được Hội Tin học TP. Hồ Chí Minh và Tạp chí PC World trao cúp Đơn vị đào tạo CNTT số 1 Việt Nam và
              được Hiệp hội Phần mềm Việt Nam Vinasa công nhận là đơn vị đào tạo CNTT xuất sắc nhất.
            </p>
            <p>
              Ngoài ra, chúng tôi còn tham gia đào tạo, phát triển nguồn nhân lực cho các tổ chức nhà nước và doanh
              nghiệp như: Bộ Giáo dục và Đào tạo, Bộ Thông tin và Truyền thông, các Tập đoàn, các trường Đại học lớn tại
              Việt Nam.
            </p>
            <h4>Các chuyên ngành đào tạo chính:</h4>
            <ul>
              <li>Lập trình viên Quốc tế (NgocLe Tech Certified Computer Professional)</li>
              <li>Kỹ thuật viên phần mềm ITT (Information Technology Technican)</li>
              <li>Chuyên gia Hệ thống Thông tin &nbsp;ACNA (NgocLe Tech Certified Network Administrator)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
