<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12"></div>
      <div class="region region-content">
        <section id="block-system-main" class="block block-system clearfix">
          <div class="block-content">
            <div id="node-5456" class="col-sm-12 fixed-full node node-mkdoingugiangvien node-promoted clearfix">
              <!-- <div id="main-news" class="main-news card" *ngIf="model.image">
                                <div class="body-news">
                                    <h2 class="block-title title mt-4">Giảng viên : {{model.teacherName}}</h2>
                                    <div class="field field-name-field-news-image field-type-image field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even"><img typeof="foaf:Image"
                                                    src="http://localhost:53421/upload/files/{{model.image}}"
                                                    width="175" height="295" alt=""></div>
                                        </div>
                                    </div>
                                    <div
                                        class="field field-name-field-doingu-chucvu field-type-text-long field-label-inline clearfix">
                                        <div class="field-label">Môn giảng dạy:&nbsp;</div>
                                        <div class="field-items">
                                            <div class="field-item even">
                                                <p>{{model.regular}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="field field-name-field-doingu-bangcap field-type-text-long field-label-inline clearfix">
                                        <div class="field-label">Bằng cấp:&nbsp;</div>
                                        <div class="field-items">
                                            <div class="field-item even">
                                                <ul>
                                                    <li><span
                                                            style="font-size: 13.008px; line-height: 150%;">Cử
                                                            nhân Công nghệ thông tin</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="field field-name-field-doingu-kinhnghiem field-type-text-long field-label-inline clearfix">
                                        <div class="field-label">Kinh nghiệm giảng dạy:&nbsp;</div>
                                        <div class="field-items">
                                            <div class="field-item even">
                                                <p [innerHTML]="model.description"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="field field-name-field-speak field-type-text-long field-label-inline clearfix">
                                        <div class="field-label">Câu nói:&nbsp;</div>
                                        <div class="field-items">
                                            <div class="field-item even">{{model.say}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="facebook-plugins clearfix mt-7">
                                    <div class="content mt-8"> <span class="label">Bạn thích bài này</span> <span
                                            class="like-fb">
                                            <div class="fb-like fb_iframe_widget"
                                                data-href=""
                                                data-layout="button_count" data-action="like" data-size="small"
                                                data-show-faces="false" data-share="true" fb-xfbml-state="rendered"
                                                >
                                               </div>
                                        </span> <span class="comments-fb"><button pButton style="font-size: 15px;">Cộng đồng nói gì về NgocLe Tech</button></span></div>
                                </div>
                            
                            </div> -->
              <div class="relate_news">
                <h2 class="block-title">Các tin tức hot</h2>
                <div
                  class="view view-content-function view-id-content_function view-display-id-block_12 view-dom-id-dc3b7c1a0056f3947702aa24243d585e"
                >
                  <div class="view-content">
                    <div class="owl-carousel-block_122 owl-carousel owl-theme" style="opacity: 1; display: block">
                      <div class="owl-wrapper-outer">
                        <div
                          class="owl-wrapper"
                          style="
                            width: 6960px;
                            left: 0px;
                            display: block;
                            transition: all 800ms ease 0s;
                            transform: translate3d(-870px, 0px, 0px);
                          "
                        >
                          <div class="owl-item" style="width: 290px">
                            <div class="item-0 item-odd">
                              <div class="views-field views-field-field-news-image">
                                <div class="field-content">
                                  <a
                                    href="/%5BPreview%5D-Open-Day-%232-%7C-Chuoi-ngay-hoi-tu-van-huong-nghiep-tiep-tuc-chao-don-cac-ban-hoc-sinh-THPT"
                                    ><img
                                      typeof="foaf:Image"
                                      src="https://aptechvietnam.com.vn/sites/default/files/styles/crop_370_220/public/_8_0.jpg?itok=kEM9miNB"
                                      width="370"
                                      height="220"
                                      alt=""
                                      class="lazyOwl"
                                      style="display: inline"
                                  /></a>
                                </div>
                              </div>
                              <div class="views-field views-field-nothing">
                                <span class="field-content">
                                  <div class="title">
                                    <a
                                      href="/%5BPreview%5D-Open-Day-%232-%7C-Chuoi-ngay-hoi-tu-van-huong-nghiep-tiep-tuc-chao-don-cac-ban-hoc-sinh-THPT"
                                      >[Preview] Open Day #2 | Chuỗi ngày hội tư vấn hướng nghiệp tiếp tục chào đón các
                                      bạn học sinh THPT</a
                                    >
                                  </div>
                                  <div class="footer_product">
                                    <div class="footer_left pull-left">
                                      <div class="post_date">21/05/2022</div>
                                    </div>
                                    <div class="footer_right pull-right">
                                      <div class="comment">0</div>
                                      <div class="flag"></div>
                                    </div>
                                  </div>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="owl-item" style="width: 290px">
                            <div class="item-1 item-even">
                              <div class="views-field views-field-field-news-image">
                                <div class="field-content">
                                  <a
                                    href="/Don-chao-su-quay-tro-lai-cua-chuoi-ngay-hoi-Open-Day-nam-2022-Ngay-hoi-tu-van-chon-nganh-CNTT"
                                    ><img
                                      typeof="foaf:Image"
                                      src="https://aptechvietnam.com.vn/sites/default/files/styles/crop_370_220/public/dscf2064.png?itok=X0lUwfnA"
                                      width="370"
                                      height="220"
                                      alt=""
                                      class="lazyOwl"
                                      style="display: inline"
                                  /></a>
                                </div>
                              </div>
                              <div class="views-field views-field-nothing">
                                <span class="field-content">
                                  <div class="title">
                                    <a
                                      href="/Don-chao-su-quay-tro-lai-cua-chuoi-ngay-hoi-Open-Day-nam-2022-Ngay-hoi-tu-van-chon-nganh-CNTT"
                                      >Đón chào sự quay trở lại của chuỗi ngày hội Open Day năm 2022 – Ngày hội tư vấn
                                      chọn ngành CNTT</a
                                    >
                                  </div>
                                  <div class="footer_product">
                                    <div class="footer_left pull-left">
                                      <div class="post_date">06/05/2022</div>
                                    </div>
                                    <div class="footer_right pull-right">
                                      <div class="comment">0</div>
                                      <div class="flag"></div>
                                    </div>
                                  </div>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="owl-item" style="width: 290px">
                            <div class="item-2 item-odd">
                              <div class="views-field views-field-field-news-image">
                                <div class="field-content">
                                  <a href="/Khoa-hoc-mien-phi%3A-Hoa-than-thanh-Chuyen-vien-du-lieu-%28Thang-05/2022%29"
                                    ><img
                                      typeof="foaf:Image"
                                      src="https://aptechvietnam.com.vn/sites/default/files/styles/crop_370_220/public/banner_1600x640_11.png?itok=MEavPkMD"
                                      width="370"
                                      height="220"
                                      alt=""
                                      class="lazyOwl"
                                      style="display: inline"
                                  /></a>
                                </div>
                              </div>
                              <div class="views-field views-field-nothing">
                                <span class="field-content">
                                  <div class="title">
                                    <a
                                      href="/Khoa-hoc-mien-phi%3A-Hoa-than-thanh-Chuyen-vien-du-lieu-%28Thang-05/2022%29"
                                      >Khóa học miễn phí: Hóa thân thành Chuyên viên dữ liệu (Tháng 05/2022)</a
                                    >
                                  </div>
                                  <div class="footer_product">
                                    <div class="footer_left pull-left">
                                      <div class="post_date">04/05/2022</div>
                                    </div>
                                    <div class="footer_right pull-right">
                                      <div class="comment">0</div>
                                      <div class="flag"></div>
                                    </div>
                                  </div>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="owl-item active" style="width: 290px">
                            <div class="item-3 item-even">
                              <div class="views-field views-field-field-news-image">
                                <div class="field-content">
                                  <a
                                    href="/Ngap-tran-cam-xuc-tai-buoi-le-don-chao-%22nha-moi%22-%7C-Grand-Opening-APTECH-HOME-IT-CAMPUS"
                                    ><img
                                      typeof="foaf:Image"
                                      src="https://aptechvietnam.com.vn/sites/default/files/styles/crop_370_220/public/_dsc0045.png?itok=VziFdHZ3"
                                      width="370"
                                      height="220"
                                      alt=""
                                      class="lazyOwl"
                                      style="display: inline"
                                  /></a>
                                </div>
                              </div>
                              <div class="views-field views-field-nothing">
                                <span class="field-content">
                                  <div class="title">
                                    <a
                                      href="/Ngap-tran-cam-xuc-tai-buoi-le-don-chao-%22nha-moi%22-%7C-Grand-Opening-APTECH-HOME-IT-CAMPUS"
                                      >Ngập tràn cảm xúc tại buổi lễ đón chào “nhà mới” | Grand Opening APTECH HOME – IT
                                      CAMPUS</a
                                    >
                                  </div>
                                  <div class="footer_product">
                                    <div class="footer_left pull-left">
                                      <div class="post_date">26/04/2022</div>
                                    </div>
                                    <div class="footer_right pull-right">
                                      <div class="comment">0</div>
                                      <div class="flag"></div>
                                    </div>
                                  </div>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="owl-item active" style="width: 290px">
                            <div class="item-4 item-odd">
                              <div class="views-field views-field-field-news-image">
                                <div class="field-content">
                                  <a href="/OpenDay-2_2022"
                                    ><img
                                      typeof="foaf:Image"
                                      src="https://aptechvietnam.com.vn/sites/default/files/styles/crop_370_220/public/1600x640_43.png?itok=F8mHDt4B"
                                      width="370"
                                      height="220"
                                      alt=""
                                      class="lazyOwl"
                                      style="display: inline"
                                  /></a>
                                </div>
                              </div>
                              <div class="views-field views-field-nothing">
                                <span class="field-content">
                                  <div class="title">
                                    <a href="/OpenDay-2_2022"> OPEN DAY #2 | APTECH HOME – IT CAMPUS</a>
                                  </div>
                                  <div class="footer_product">
                                    <div class="footer_left pull-left">
                                      <div class="post_date">26/04/2022</div>
                                    </div>
                                    <div class="footer_right pull-right">
                                      <div class="comment">0</div>
                                      <div class="flag"></div>
                                    </div>
                                  </div>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="owl-item active" style="width: 290px">
                            <div class="item-5 item-even">
                              <div class="views-field views-field-field-news-image">
                                <div class="field-content">
                                  <a href="/Open-Home-Aptech-D5-Binh-Thanh-tung-bung-don-ban"
                                    ><img
                                      typeof="foaf:Image"
                                      src="https://aptechvietnam.com.vn/sites/default/files/styles/crop_370_220/public/1600x640_copy_3.png?itok=elQp9Y42"
                                      width="370"
                                      height="220"
                                      alt=""
                                      class="lazyOwl"
                                      style="display: inline"
                                  /></a>
                                </div>
                              </div>
                              <div class="views-field views-field-nothing">
                                <span class="field-content">
                                  <div class="title">
                                    <a href="/Open-Home-Aptech-D5-Binh-Thanh-tung-bung-don-ban"
                                      >Open Home - Aptech D5 Bình Thạnh tưng bừng đón bạn</a
                                    >
                                  </div>
                                  <div class="footer_product">
                                    <div class="footer_left pull-left">
                                      <div class="post_date">25/04/2022</div>
                                    </div>
                                    <div class="footer_right pull-right">
                                      <div class="comment">0</div>
                                      <div class="flag"></div>
                                    </div>
                                  </div>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="owl-item" style="width: 290px">
                            <div class="item-6 item-odd">
                              <div class="views-field views-field-field-news-image">
                                <div class="field-content">
                                  <a href="/Tro-thanh-Ky-su-Cong-nghe-thong-tin-chi-sau-90-ngay-tu-chuong-trinh"
                                    ><img
                                      typeof="foaf:Image"
                                      src="https://aptechvietnam.com.vn/sites/default/files/styles/crop_370_220/public/z3357301780475_2db9481815e8e29c1e20251263394b57_0.jpg?itok=TuWWFTXy"
                                      width="370"
                                      height="220"
                                      alt=""
                                      class="lazyOwl"
                                      style="display: inline"
                                  /></a>
                                </div>
                              </div>
                              <div class="views-field views-field-nothing">
                                <span class="field-content">
                                  <div class="title">
                                    <a href="/Tro-thanh-Ky-su-Cong-nghe-thong-tin-chi-sau-90-ngay-tu-chuong-trinh"
                                      >[APTECH - NASHTECH VIỆT NAM] Trở thành Kỹ sư CNTT từ chương trình ROOKIES</a
                                    >
                                  </div>
                                  <div class="footer_product">
                                    <div class="footer_left pull-left">
                                      <div class="post_date">21/04/2022</div>
                                    </div>
                                    <div class="footer_right pull-right">
                                      <div class="comment">0</div>
                                      <div class="flag"></div>
                                    </div>
                                  </div>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="owl-item" style="width: 290px">
                            <div class="item-7 item-even">
                              <div class="views-field views-field-field-news-image">
                                <div class="field-content">
                                  <a href="/Tan-binh-C2204L-Ho-la-ai%3F"
                                    ><img
                                      typeof="foaf:Image"
                                      src="https://aptechvietnam.com.vn/sites/default/files/styles/crop_370_220/public/278710585_370689094972905_6913158847754181154_n_0.jpg?itok=Ynod6eo5"
                                      width="370"
                                      height="220"
                                      alt=""
                                      class="lazyOwl"
                                      style="display: inline"
                                  /></a>
                                </div>
                              </div>
                              <div class="views-field views-field-nothing">
                                <span class="field-content">
                                  <div class="title">
                                    <a href="/Tan-binh-C2204L-Ho-la-ai%3F">Tân binh tháng 4 tại Aptech - Họ là ai?</a>
                                  </div>
                                  <div class="footer_product">
                                    <div class="footer_left pull-left">
                                      <div class="post_date">21/04/2022</div>
                                    </div>
                                    <div class="footer_right pull-right">
                                      <div class="comment">0</div>
                                      <div class="flag"></div>
                                    </div>
                                  </div>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="owl-item" style="width: 290px">
                            <div class="item-8 item-odd">
                              <div class="views-field views-field-field-news-image">
                                <div class="field-content">
                                  <a href="/OpenDay2022"
                                    ><img
                                      typeof="foaf:Image"
                                      src="https://aptechvietnam.com.vn/sites/default/files/styles/crop_370_220/public/z3344580430977_47f9e5a115fd964ae14ace9a3bb5ec5b_0.jpg?itok=VPmvbG-m"
                                      width="370"
                                      height="220"
                                      alt=""
                                      class="lazyOwl"
                                      style="display: inline"
                                  /></a>
                                </div>
                              </div>
                              <div class="views-field views-field-nothing">
                                <span class="field-content">
                                  <div class="title">
                                    <a href="/OpenDay2022">Open Day 2022 | Aptech Home - IT Campus</a>
                                  </div>
                                  <div class="footer_product">
                                    <div class="footer_left pull-left">
                                      <div class="post_date">14/04/2022</div>
                                    </div>
                                    <div class="footer_right pull-right">
                                      <div class="comment">0</div>
                                      <div class="flag"></div>
                                    </div>
                                  </div>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="owl-item" style="width: 290px">
                            <div class="item-9 item-even">
                              <div class="views-field views-field-field-news-image">
                                <div class="field-content">
                                  <a href="/TRAC-NGHIEM-TAM-LY-DINH-HUONG-NGHE-NGHIEP"
                                    ><img
                                      typeof="foaf:Image"
                                      src="https://aptechvietnam.com.vn/sites/default/files/styles/crop_370_220/public/z3335160878146_e00c04887059015560d4b83c8890dc37.jpg?itok=D0TQfGBc"
                                      width="370"
                                      height="220"
                                      alt=""
                                      class="lazyOwl"
                                      style="display: inline"
                                  /></a>
                                </div>
                              </div>
                              <div class="views-field views-field-nothing">
                                <span class="field-content">
                                  <div class="title">
                                    <a href="/TRAC-NGHIEM-TAM-LY-DINH-HUONG-NGHE-NGHIEP"
                                      >TRẮC NGHIỆM TÂM LÝ ĐỊNH HƯỚNG NGHỀ NGHIỆP
                                    </a>
                                  </div>
                                  <div class="footer_product">
                                    <div class="footer_left pull-left">
                                      <div class="post_date">12/04/2022</div>
                                    </div>
                                    <div class="footer_right pull-right">
                                      <div class="comment">0</div>
                                      <div class="flag"></div>
                                    </div>
                                  </div>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="owl-item" style="width: 290px">
                            <div class="item-10 item-odd">
                              <div class="views-field views-field-field-news-image">
                                <div class="field-content">
                                  <a href="/AptechD5BinhThanh"
                                    ><img
                                      typeof="foaf:Image"
                                      src="https://aptechvietnam.com.vn/sites/default/files/styles/crop_370_220/public/z3342280752450_716d1a6b0993ddf8e90528087a9eadc3.jpg?itok=wrPaLGNH"
                                      width="370"
                                      height="220"
                                      alt=""
                                      class="lazyOwl"
                                      style="display: inline"
                                  /></a>
                                </div>
                              </div>
                              <div class="views-field views-field-nothing">
                                <span class="field-content">
                                  <div class="title">
                                    <a href="/AptechD5BinhThanh"
                                      >“Chào nhà mới” Aptech D5 Bình Thạnh | APTECH HOME – IT CAMPUS</a
                                    >
                                  </div>
                                  <div class="footer_product">
                                    <div class="footer_left pull-left">
                                      <div class="post_date">09/04/2022</div>
                                    </div>
                                    <div class="footer_right pull-right">
                                      <div class="comment">0</div>
                                      <div class="flag"></div>
                                    </div>
                                  </div>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="owl-item" style="width: 290px">
                            <div class="item-11 item-even">
                              <div class="views-field views-field-field-news-image">
                                <div class="field-content">
                                  <a href="/DAN-LAP-TRINH-DANH-GIA-CHINH-MINH"
                                    ><img
                                      typeof="foaf:Image"
                                      src="https://aptechvietnam.com.vn/sites/default/files/styles/crop_370_220/public/1600x640_2_8.png?itok=M6SjtNSJ"
                                      width="370"
                                      height="220"
                                      alt=""
                                      class="lazyOwl"
                                      style="display: inline"
                                  /></a>
                                </div>
                              </div>
                              <div class="views-field views-field-nothing">
                                <span class="field-content">
                                  <div class="title">
                                    <a href="/DAN-LAP-TRINH-DANH-GIA-CHINH-MINH">DÂN LẬP TRÌNH ĐÁNH GIÁ CHÍNH MÌNH</a>
                                  </div>
                                  <div class="footer_product">
                                    <div class="footer_left pull-left">
                                      <div class="post_date">30/03/2022</div>
                                    </div>
                                    <div class="footer_right pull-right">
                                      <div class="comment">0</div>
                                      <div class="flag"></div>
                                    </div>
                                  </div>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="relate_news">
                <h2 class="block-title">Tin tức khác cùng chuyên mục</h2>
                <div
                  class="view view-content-function view-id-content_function view-display-id-block_11 view-dom-id-5cb2663aefc8a01ebd20c7de365d55bd jquery-once-3-processed"
                >
                  <div class="view-content">
                    <div class="views-row views-row-1 views-row-odd views-row-first col-sm-3">
                      <div class="views-field views-field-field-news-image">
                        <div class="field-content">
                          <a
                            href="/%5BPreview%5D-Open-Day-%232-%7C-Chuoi-ngay-hoi-tu-van-huong-nghiep-tiep-tuc-chao-don-cac-ban-hoc-sinh-THPT"
                            ><img
                              typeof="foaf:Image"
                              src="https://aptechvietnam.com.vn/sites/default/files/styles/crop_270_210/public/_8_0.jpg?itok=A4IBPTaq"
                              width="270"
                              height="210"
                              alt=""
                          /></a>
                        </div>
                      </div>
                      <div class="views-field views-field-nothing">
                        <span class="field-content">
                          <div class="title">
                            [Preview] Open Day #2 | Chuỗi ngày hội tư vấn hướng nghiệp tiếp tục chào đón các bạn học
                            sinh THPT
                          </div>
                          <div class="body">
                            <p>
                              Vào ngày 08/05/2022 vừa qua, cơ sở Aptech D5 Bình Thạnh (Aptech Nguyễn Đình Chiểu) tiếp
                              tục mang đến cho các bạn học sinh THPT ngày hội tư vấn...
                            </p>
                          </div>
                          <div class="footer_product">
                            <div class="footer_left pull-left">
                              <div class="post_date">21/05/2022</div>
                            </div>
                            <div class="footer_right pull-right">
                              <div class="comment">0</div>
                              <div class="flag"></div>
                            </div>
                          </div>
                        </span>
                      </div>
                    </div>
                    <div class="views-row views-row-2 views-row-even col-sm-3">
                      <div class="views-field views-field-field-news-image">
                        <div class="field-content">
                          <a
                            href="/Don-chao-su-quay-tro-lai-cua-chuoi-ngay-hoi-Open-Day-nam-2022-Ngay-hoi-tu-van-chon-nganh-CNTT"
                            ><img
                              typeof="foaf:Image"
                              src="https://aptechvietnam.com.vn/sites/default/files/styles/crop_270_210/public/dscf2064.png?itok=SsZcz3aL"
                              width="270"
                              height="210"
                              alt=""
                          /></a>
                        </div>
                      </div>
                      <div class="views-field views-field-nothing">
                        <span class="field-content">
                          <div class="title">
                            Đón chào sự quay trở lại của chuỗi ngày hội Open Day năm 2022 – Ngày hội tư vấn chọn ngành
                            CNTT
                          </div>
                          <div class="body">
                            <p>
                              Vào ngày 24/04/2022 vừa qua, ngày hội Open Day #1 thuộc chuỗi các ngày hội Open Day đã
                              được tổ chức tại Hệ thống Đào tạo Lập trình viên Quốc tế...
                            </p>
                          </div>
                          <div class="footer_product">
                            <div class="footer_left pull-left">
                              <div class="post_date">06/05/2022</div>
                            </div>
                            <div class="footer_right pull-right">
                              <div class="comment">0</div>
                              <div class="flag"></div>
                            </div>
                          </div>
                        </span>
                      </div>
                    </div>
                    <div class="views-row views-row-3 views-row-odd col-sm-3">
                      <div class="views-field views-field-field-news-image">
                        <div class="field-content">
                          <a href="/Khoa-hoc-mien-phi%3A-Hoa-than-thanh-Chuyen-vien-du-lieu-%28Thang-05/2022%29"
                            ><img
                              typeof="foaf:Image"
                              src="https://aptechvietnam.com.vn/sites/default/files/styles/crop_270_210/public/banner_1600x640_11.png?itok=62V2mL-9"
                              width="270"
                              height="210"
                              alt=""
                          /></a>
                        </div>
                      </div>
                      <div class="views-field views-field-nothing">
                        <span class="field-content">
                          <div class="title">Khóa học miễn phí: Hóa thân thành Chuyên viên dữ liệu (Tháng 05/2022)</div>
                          <div class="body">
                            <p>
                              Khoa học dữ liệu (Data Science) và Trí tuệ nhân tạo (AI) được tạp chí Havard Business
                              Review gọi với một cái tên mỹ miều là “nghề nghiệp quyến rũ...
                            </p>
                          </div>
                          <div class="footer_product">
                            <div class="footer_left pull-left">
                              <div class="post_date">04/05/2022</div>
                            </div>
                            <div class="footer_right pull-right">
                              <div class="comment">0</div>
                              <div class="flag"></div>
                            </div>
                          </div>
                        </span>
                      </div>
                    </div>
                    <div class="views-row views-row-4 views-row-even views-row-last col-sm-3">
                      <div class="views-field views-field-field-news-image">
                        <div class="field-content">
                          <a
                            href="/Ngap-tran-cam-xuc-tai-buoi-le-don-chao-%22nha-moi%22-%7C-Grand-Opening-APTECH-HOME-IT-CAMPUS"
                            ><img
                              typeof="foaf:Image"
                              src="https://aptechvietnam.com.vn/sites/default/files/styles/crop_270_210/public/_dsc0045.png?itok=46bibYdO"
                              width="270"
                              height="210"
                              alt=""
                          /></a>
                        </div>
                      </div>
                      <div class="views-field views-field-nothing">
                        <span class="field-content">
                          <div class="title">
                            Ngập tràn cảm xúc tại buổi lễ đón chào “nhà mới” | Grand Opening APTECH HOME – IT CAMPUS
                          </div>
                          <div class="body">
                            <p>
                              Vào ngày 23/04/2022 vừa qua, Hệ thống Đào tạo Lập trình viên Quốc tế Aptech chính thức đưa
                              vào hoạt động cơ sở Aptech Home – IT Campus tại địa...
                            </p>
                          </div>
                          <div class="footer_product">
                            <div class="footer_left pull-left">
                              <div class="post_date">26/04/2022</div>
                            </div>
                            <div class="footer_right pull-right">
                              <div class="comment">0</div>
                              <div class="flag"></div>
                            </div>
                          </div>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
