<div class="front_content_3 card">
  <div class="container">
    <div class="row">
      <div class="region region-front-content-3">
        <section class="block block-views col-sm-12 trien_lam_front clearfix">
          <h2 class="block-title" style="text-align: center">Tin tức</h2>
          <div class="block-content">
            <div
              class="view view-content-function view-id-content_function view-display-id-block_8 row view-dom-id-391dcb83ab67c786796d1ace2d568077"
            >
              <div class="view-header">
                <!-- <h3>Các khóa học tại MB Ageas</h3> -->
              </div>
              <div class="view-content" *ngFor="let item of stateData">
                <div class="views-row views-row-1 views-row-odd views-row-first col-md-4 mt-2">
                  <div class="rounded border-radius-style" style="height: 320px">
                    <div class="views-field views-field-field-anh-nho-tren-panel">
                      <div class="field-content">
                        <a routerLink="/mb-ageas/new/description/{{ item.newId }}"
                          ><img
                            typeof="foaf:Image"
                            src="http://localhost:53421/upload/files/{{ item.image }}"
                            style="padding: 10px;height: 160px;"
                        /></a>
                      </div>
                    </div>
                    <div class="views-field views-field-nothing">
                      <span class="field-content">
                        <div class="post_date">Ngày đăng : {{ item.createDate | date: 'dd/MM/yyyy' }}</div>
                        <div class="de_tai">
                          <a class="text-overflow-ellipsis" routerLink="/mb-ageas/new/description/{{ item.newId }}">{{
                            item.title
                          }}</a>
                        </div>
                        <div class="footer_product">
                          <div class="footer_right pull-right">
                            <div class="comment">0</div>
                            <div class="flag"></div>
                          </div>
                        </div>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="block-block-26" class="block block-block col-sm-12 footer_cat clearfix">
          <h2 class="block-title">Bừng sáng khát vọng thành công cùng MB Ageas</h2>
          <div class="block-content"><a class="go_front" href="#block-md-slider-md-slider-57457a5e36cb1"></a></div>
        </section>
      </div>
    </div>
  </div>
</div>
