<div class="highlighted">
  <div class="region region-highlighted">
    <section id="block-custom-about-us" class="block block-custom node_about_us clearfix">
      <div class="container">
     
        <h2 class="block-title">Chi tiết khóa học : {{ model.courseName }}</h2>
        <div class="block-content" *ngIf="model.image">
          <div class="row content-about-us">
            <div class="col-sm-12">
              <div class="col-md-5 card">
                <p-image
                  src="http://localhost:53421/Upload/Files/{{ model.image }}"
                  alt="http://localhost:53421/Upload/Files/{{ model.image }}"
                  width="100%"
                ></p-image>
                <br />
                <h5 class="title">{{ model.courseName }} ({{ model.englishName }})</h5>
                <br />
                <br>
                <p class="p-text">{{ model.title }}</p>

                <button [routerLink]="['/mb-ageas/dang-ky-khoa-hoc']" pButton target="_blank" label="Đăng ký"></button>
              </div>
              <div class="col-md-7 gird">
                <p>
                  Mã khóa học: <span style="color: red"> {{ model.code }}</span>
                </p>
                <p>Ngày khai giảng: {{ model.startDate | date: 'dd/MM/yyyy' }}</p>
                <p>Ngày Kết thúc: {{ model.endDate | date: 'dd/MM/yyyy' }}</p>
                <p>Số buổi học: {{ model.countLesson }}</p>
                <p>Học phí: {{ model.price | currency: 'VND' }}</p>
                <p>Danh mục : {{ model.courseCategoryName }}</p>
                <p>Giáo viện phụ trách : {{ model.teacherName }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="block-block-10" class="block block-block loi_ich clearfix card">
      <div class="container">
        <div class="row">
          <div class="col-md-12"><h5 class="title">module</h5></div>
          <div class="col-12" style="margin: 0px auto">
            <p [innerHTML]="model.description"></p>
          </div>
        </div>
      </div>
      <br />
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h5 class="title mt-5">
              mục tiêu khóa học <span>{{ model.courseName }} ({{ model.englishName }})</span>
            </h5>
          </div>
          <div class="col-12" [innerHTML]="model.note"></div>
        </div>
      </div>
    </section>
  </div>
</div>
<section id="block-views-slideshow-block-1" class="block block-views block_uu_diem clearfix">
  <div class="container">
    <h2 class="block-title">6.8 triệu học viên trên Thế giới đã chọn MB Ageas, Vì sao?</h2>
    <h3></h3>
    <div class="row">
      <div class="row">
        <div class="col-sm-4">
          <div class="item-0 item-odd">
            <div class="views-field views-field-field-slider-images">
              <div class="field-content">
                <img
                  typeof="foaf:Image"
                  src="./assets/pages/sites/default/files/styles/265_175/public/chuong_trinh_hoc_chu_trong_thuc_hanhbdb9.jpg?itok=jjDaHJ0Y"
                  width="265"
                  height="175"
                  alt=""
                />
              </div>
            </div>
            <div class="views-field views-field-nothing">
              <span class="field-content">
                <div class="uu_diem_row">
                  <div class="title">Chương trình học</div>
                  <div class="row_2">Chú trọng thực hành</div>
                  <div class="body_caunoi">
                    <p style="text-align: justify">
                      Với chương trình học chú trọng thực hành, sinh viên MB Ageas luôn được tạo điều kiện để thực hiện
                      các dự án thực tế một cách thành thạo, chuyên nghiệp nhất.
                    </p>
                  </div>
                </div>
              </span>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="item-1 item-even">
            <div class="views-field views-field-field-slider-images">
              <div class="field-content">
                <img
                  typeof="foaf:Image"
                  src="./assets/pages/sites/default/files/styles/265_175/public/doi_ngu_giang_vien_than_thien_nhiet_tinh5942.jpg?itok=NP-hk2Ku"
                  width="265"
                  height="175"
                  alt=""
                />
              </div>
            </div>
            <div class="views-field views-field-nothing">
              <span class="field-content">
                <div class="uu_diem_row">
                  <div class="title">Đội ngũ giảng viên</div>
                  <div class="row_2">Thân thiện, nhiệt tình</div>
                  <div class="body_caunoi">
                    <p style="text-align: justify">
                      Giảng viên là những Chuyên gia hàng đầu Việt Nam và luôn đồng hành cùng sinh viên MB Ageas trong
                      quá trình học tập và phát triển.
                    </p>
                  </div>
                </div>
              </span>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="item-2 item-odd">
            <div class="views-field views-field-field-slider-images">
              <div class="field-content">
                <img
                  typeof="foaf:Image"
                  src="./assets/pages/sites/default/files/styles/265_175/public/co-so-vat-chat-theo-chuan-quoc-tebd74.jpg?itok=pwqtFqW5"
                  width="265"
                  height="175"
                  alt=""
                />
              </div>
            </div>
            <div class="views-field views-field-nothing">
              <span class="field-content">
                <div class="uu_diem_row">
                  <div class="title">Cơ sở vật chất</div>
                  <div class="row_2">theo chuẩn Quốc tế</div>
                  <div class="body_caunoi">
                    <p style="text-align: justify">
                      Với tiêu chuẩn đào tạo quốc tế, MB Ageas luôn đảm bảo cho học viên không gian học tập, nghiêm cứu
                      sáng tạo và hiện đại nhất.
                    </p>
                  </div>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="block-block-11" class="block block-block button clearfix">
  <div class="container">
    <h2 class="block-title">Bạn có muốn học cùng chuyên gia CNTT hàng đầu?</h2>
    <div class="row">
      <div class="col-sm-12"><a href="#block-webform-client-block-5352" class="button_i_want">Tôi muốn</a></div>
    </div>
  </div>
</section>
