.title {
    height: 20px;
    left: 0px;
    top: calc(50% - 20px / 2 + 72px);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #0b7cc3;
  }